<div class="sc-order-dialog">
  <div class="sc-order-dialog__close" (click)="close()" >
    <i class="iconfontXberts icon-ic-close"></i>
  </div>
  <div class="sc-order-dialog__title">
    {{'ORDERS.DIALOG3.TITLE1'|translate}}
  </div>
  <div class="md-margin-top-2" fxLayout="row" fxLayoutAlign="start center">
    <div>{{'ORDERS.DIALOG3.TITLE8'|translate}} #: {{data.order.number}}</div>
    <div class="md-margin-left-3" *ngIf="data.order.sumOrderNumber">{{'ORDERS.DIALOG3.TITLE9'|translate}} #: {{data.order.sumOrderNumber}}</div>
  </div>
  <div class="md-margin-top-2" fxLayout="row" fxLayoutAlign="start center">
    <div class="sc-order__product-margin-right" fxLayout="row" fxLayoutAlign="start stretch" fxFlex>
      <div class="sc-order__product-image" fxFlex="none">
        <img src="{{data.order.lines[0].mainImage}}">
      </div>
      <div fxFlex fxLayout="column" fxLayoutAlign="space-between start">
        <div class="sc-order__product-title" >{{data.order.lines[0].title}}</div>
        <div fxLayout="row" fxLayoutAlign="start center">
          {{data.order.lines[0].sku}}
        </div>
      </div>
    </div>
    <div fxLayout="column" fxLayoutAlign="center center">{{data.order.lines[0].quantity}}</div>
  </div>
  <form class="md-margin-top-3" [formGroup]="orderStockForm" novalidate>
    <div fxLayout="row" fxLayoutAlign="start center">
      <div fxLayout="row" fxLayoutAlign="start center" fxFlex="100">
        <mat-form-field fxFlex>
          <input type="text" matInput placeholder="{{'ORDERS.DIALOG3.TITLE2'|translate}}" formControlName="sourcingOrderNumber">
        </mat-form-field>
      </div>
    </div>
    <div *ngIf="orderStockForm.get('sourcingOrderNumber').invalid && (orderStockForm.get('sourcingOrderNumber').dirty ||
              orderStockForm.get('sourcingOrderNumber').touched)" class="xb-input-error">
      <div *ngIf="orderStockForm.get('sourcingOrderNumber').hasError('required')">
        This field is required.
      </div>
    </div>
    <div fxLayout="row" fxLayoutAlign="start center">
      <mat-form-field fxFlex>
        <mat-select name="shippingProvider" placeholder="{{'ORDERS.DIALOG3.TITLE3'|translate}}" formControlName="sourcingSupplier">
          <mat-option class="md-align-center" *ngFor="let item of sourcingSupplierList" [value]="item.sourcingName">
            {{ item.sourcingName }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div fxLayout="row" fxLayoutAlign="start center">
      <mat-form-field fxFlex>
        <mat-select name="warehouse" placeholder="{{'ORDERS.DIALOG3.TITLE4'|translate}}" formControlName="warehouseId">
          <mat-option class="md-align-center" *ngFor="let item of warehouseList" [value]="item.id">
            {{ item.warehouseName }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div fxLayout="row" fxLayoutAlign="start center">
      <mat-form-field fxFlex>
        <mat-select name="supplierProvider" placeholder="{{'ORDERS.DIALOG3.TITLE5'|translate}}" formControlName="purchaseAccount">
          <mat-option class="md-align-center" *ngFor="let item of supplierList" [value]="item">
            {{ item }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div fxLayout="row" fxLayoutAlign="start center">
      <mat-form-field fxFlex>
        <input type="text" matInput placeholder="{{'ORDERS.DIALOG3.TITLE6'|translate}}" formControlName="purchasePrice">
      </mat-form-field>
    </div>
    <div fxLayout="row" fxLayoutAlign="start center">
      <mat-form-field fxFlex>
        <input type="text" matInput placeholder="{{'ORDERS.DIALOG3.TITLE7'|translate}}" formControlName="purchaseUrl">
      </mat-form-field>
    </div>
  </form>
  <div class="xb-input-error md-margin-top-2" *ngIf="error">
    {{error}}
  </div>
  <div class="sc-order-dialog__margin-top" fxLayout="row" fxLayoutAlign="end center">
    <button mat-raised-button color="primary" *ngIf="data.order.sourcingStatus != 'Started'" (click)="changeSourcing()">{{'ORDERS.DIALOG3.BUTTON3'|translate}}</button>
    <div class="md-margin-left-2"></div>
    <button mat-raised-button color="primary" (click)="changeOrderSourcing()">{{'ORDERS.DIALOG3.BUTTON1'|translate}}</button>
    <div class="md-margin-left-2">
      <button mat-button color="primary" (click)="close()">{{'ORDERS.DIALOG3.BUTTON2'|translate}}</button>
    </div>
  </div>
</div>
