<div class="sc-order__detail-container-1">
  <div class="sc-order__detail-margin-top-1" fxLayout="column" >
    <div fxLayout="row" fxLayoutAlign="start start">
      <div class="md-dark-secondary sc-order__detail-tracking-left" fxFlex="none">
        Product
      </div>
      <div>
        in-ear headset Ancoki  Apple earphones  Remote control perfect for iPhone 6s 6 Plus 5s 5 4s 4 SE 5C iPad 7 8 7s IOS S7 S6 Note 1 2 3  Tablet PC and Other Compatible Devices(2 PACK)
      </div>
    </div>
    <div class="md-margin-top-2" fxLayout="row" fxLayoutAlign="start start">
      <div class="md-dark-secondary sc-order__detail-tracking-left" fxFlex="none">
        Shipping Carrier
      </div>
      <div>
        EMS
      </div>
    </div>
    <div class="md-margin-top-2" fxLayout="row" fxLayoutAlign="start start">
      <div class="md-dark-secondary sc-order__detail-tracking-left" fxFlex="none">
        Tracking Number
      </div>
      <div>
        12345679798786
      </div>
    </div>
    <div class="md-margin-top-2" fxLayout="row" fxLayoutAlign="start center">
      <div class="md-dark-secondary sc-order__detail-tracking-left" fxFlex="none">
        Tracking URL
      </div>
      <div>
        <button mat-raised-button color="primary">View Tracking</button>
      </div>
    </div>
  </div>
</div>
