<div class="container">
  <div class="md-margin-top-4 sc-promote__create-text">
    <span class="md-dark-secondary xb-pointer" routerLink="../../../">Lottery</span>
    <span class="md-dark-secondary">></span> <span class="xb-bold">Edit Campaign</span>
  </div>
  <div>
    <div class="md-margin-top-3 sc-promote__create-bg">
      <div class="md-margin-top-2" fxLayout="row" fxLayoutAlign="space-between start">
        <div fxLayout="row" fxLayoutAlign="start center" fxFlex="48">
          <div class="sc-promote__promote-text xb-bold">Start Time</div>
          <div class="md-margin-left-3" fxLayout="row" fxLayoutAlign="start center">
            {{campaign.startTime | amTz:'Asia/Kolkata' | amDateFormat:'YYYY, MM.DD, hh:mm A'}}
          </div>
        </div>
        <div fxLayout="row" fxLayoutAlign="start center" fxFlex="48">
          <div class="sc-promote__promote-text xb-bold">End Time</div>
          <div class="md-margin-left-3" fxLayout="row" fxLayoutAlign="start center">
            {{campaign.endTime | amTz:'Asia/Kolkata' | amDateFormat:'YYYY, MM.DD, hh:mm A'}}
          </div>
        </div>
      </div>
      <div fxLayout="row" fxLayoutAlign="space-between start">
        <div fxLayout="row" fxLayoutAlign="start center" fxFlex="48">
          <div class="sc-promote__promote-text xb-bold">Campaign Status</div>
          <div class="md-margin-left-3" fxLayout="row" fxLayoutAlign="start center" fxFlex>
            {{campaign.drawStatus}}
          </div>
        </div>
        <div fxLayout="row" fxLayoutAlign="start center" fxFlex="48">
          <div class="sc-promote__promote-text xb-bold">Campaign Quantity</div>
          <div class="md-margin-left-3" fxLayout="row" fxLayoutAlign="start center" fxFlex>
            {{campaign.quantity}}
          </div>
        </div>
      </div>

    </div>
    <div>
      <div class="md-margin-top-3 sc-promote__create-text" fxLayout="row" fxLayoutAlign="start center">
        <div class="sc-promote__promote-text xb-bold">Add First Prize for This Campaign:</div>
        <div class="md-margin-left-3 sc__accent-dark">
          <button mat-raised-button color="primary" type="button" (click)="selectProduct()">
            Select
          </button>
        </div>
      </div>

      <div class="md-margin-top-2" fxLayout="row" fxLayoutAlign="start center">
        <div class="md-margin-right-2 sc-promote__promote-image" fxFlex="none" fxLayout="column" fxLayoutAlign="center stretch">
          <img [src]="campaign.mainImage">
        </div>
        <div class="md-margin-right-2" fxFlex="45" fxLayout="column" fxLayoutAlign="center stretch">
          <div class="sc-promote__promote-text">
            {{campaign.title}}
          </div>
        </div>
      </div>

      <div class="md-margin-top-3 sc-promote__create-text" fxLayout="row" fxLayoutAlign="start center">
        <div class="sc-promote__promote-text xb-bold">Add Second Prize for This Campaign:</div>
        <div class="unicorn-dark-theme md-margin-left-3">
          <mat-form-field class="sc-promotion-dialog__width">
            <mat-select [ngModel]="second" placeholder="Choose Gift Card" name="Category"
                        (ngModelChange)="cardSecondSelect($event)">
              <mat-option class="md-align-center" *ngFor="let item of cardList" [value]="item.id">
                {{ item.name }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>


      <div class="md-margin-top-3 sc-promote__create-text" fxLayout="row" fxLayoutAlign="start center">
        <div class="sc-promote__promote-text xb-bold">Add Third Prize for This Campaign:</div>
        <div class="unicorn-dark-theme md-margin-left-3">
          <mat-form-field class="sc-promotion-dialog__width">
            <mat-select [ngModel]="third" placeholder="Choose Gift Card" name="Category"
                        (ngModelChange)="cardThirdSelect($event)">
              <mat-option class="md-align-center" *ngFor="let item of cardList" [value]="item.id">
                {{ item.name }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>
    </div>

    <div class="md-padding-top-4 md-padding-bottom-4" fxLayout="row" fxLayoutAlign="center center">
      <button mat-raised-button color="primary" type="button" (click)="save()">
        SAVE
      </button>
      <div class="md-margin-left-2">
        <button mat-button color="primary" type="button" routerLink="../../../">
          CANCEL
        </button>
      </div>
    </div>
  </div>
</div>
