<div class="sc-product__product-navigation" fxLayout="row" fxLayoutAlign="start center">
  <div class="sc-product__product-title-1 md-margin-right-2" fxFlex="10">
    Category Name
  </div>
  <div class="sc-product__product-title-1 md-margin-right-2 md-align-center" fxFlex="15">
    Category Image
  </div>
  <div class="sc-product__product-title-1 md-margin-right-2 md-align-center" fxFlex="15">
    Category Type
  </div>
  <div class="sc-product__product-title-1 md-margin-right-2 md-align-center" fxFlex="10">
    Category Index
  </div>
  <div class="sc-product__product-title-1 md-margin-right-2 md-align-center" fxFlex="15">
    Category Created
  </div>
  <div class="sc-product__product-title-1 md-margin-right-2 md-align-center" fxFlex="10">
    Category Display
  </div>
  <div class="sc-product__product-title-1 md-align-center" fxFlex="15">Action</div>
</div>
