<div class="sc-product__create-container">
  <div class="md-margin-top-4 sc-product__create-text">
    <span class="md-dark-secondary xb-pointer" (click)="openLeaveDialog()">产品</span> <span class="md-dark-secondary">></span> <span class="xb-bold">添加新产品</span>
  </div>
  <div class="md-margin-top-3 sc-product__create-navigation-bg" fxLayout="row" fxLayoutAlign="start center">
    <div class="sc-product__create-navigation" fxFlex="50"
      fxLayout="row" fxLayoutAlign="center center"
         [ngClass]="{'sc-product__create-navigation-active':step==0}">
      1.Edit Basic Information
      <div class="sc-product__create-tri"></div>
    </div>
    <div class="sc-product__create-navigation" fxFlex="50"
      fxLayout="row" fxLayoutAlign="center center"
      [ngClass]="{'sc-product__create-navigation-active':step==1}">2.Add Product Details</div>
  </div>
  <form [formGroup]="productForm" novalidate *ngIf="step == 0">
    <div>
      <div class="sc-product__create-container-1">
        <div class="sc-product__create-title">
          Basic Product Information
        </div>
        <div class="md-margin-top-2" fxLayout="column">
          <div fxLayout="row" fxLayoutAlign="start center">
            <mat-form-field fxFlex>
              <input type="text" matInput placeholder="Product Name" formControlName="title">
            </mat-form-field>
          </div>
          <div formArrayName="categories">
            <div *ngFor="let p of categories.controls; let i = index;">
              <div [formGroupName]="i">
                <div fxLayout="row" fxLayoutAlign="space-between center">
                  <div fxFlex="46" fxLayout="row" fxLayoutAlign="start center">
                    <mat-form-field fxFlex>
                      <mat-select name="category" placeholder="Select a Category" formControlName="id">
                        <mat-option class="md-align-center" *ngFor="let item of categoryList" [value]="item.id">
                          {{ item.name }}
                        </mat-option>
                      </mat-select>
                    </mat-form-field>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="sc-product__create-title-1 md-margin-top-1">
          Variant
        </div>
        <div class="md-margin-top-2" *ngIf="variantAddedList.length == 0">
          <button mat-raised-button color="primary" type="button" (click)="addVariantList()">
            <div fxLayout="row" fxLayoutAlign="start center">
              <i class="material-icons">add</i>
              <span class="md-margin-left-1">Add Variant</span>
            </div>
          </button>
          <div class="sc-product__create-text-1 md-margin-top-2">Add variants if this product has different sizes, colors, etc.</div>
        </div>
        <div class="md-margin-top-2" *ngIf="variantAddedList.length > 0">
          <div fxLayout="row" fxLayoutAlign="start center" *ngFor="let p of variantAddedList; let i = index">
            <div class="sc-product__create-margin-right-1" fxFlex="30" fxLayout="row" fxLayoutAlign="start center">
              <mat-form-field fxFlex>
                <mat-select name="option" placeholder="Option Name" [value]="p.option" (valueChange)="optionChange($event, p)">
                  <mat-option *ngFor="let item of variantList" [value]="item.id">
                    {{ item.name }}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            <div class="sc-product__create-margin-right-2" fxFlex="60" fxLayout="row" fxLayoutAlign="start center" *ngIf="p.isValue">
              <mat-form-field fxFlex>
                <mat-chip-list #chipList>
                  <mat-chip *ngFor="let item of p.value" [selectable]="p.selectable"
                            [removable]="p.removable" (remove)="remove(item, p)">
                    {{item.value}}
                    <mat-icon matChipRemove *ngIf="p.removable">cancel</mat-icon>
                  </mat-chip>
                  <input placeholder=""
                         [matChipInputFor]="chipList"
                         [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                         [matChipInputAddOnBlur]="p.addOnBlur"
                         (matChipInputTokenEnd)="add($event, p)" />
                </mat-chip-list>
              </mat-form-field>
            </div>
            <div *ngIf="p.isValue">
              <i class="material-icons md-dark-secondary" (click)="deleteVariant(i)">delete</i>
            </div>
          </div>
          <div class="md-margin-top-2">
            <button mat-raised-button color="primary" type="button" (click)="addVariantList()">
              <div fxLayout="row" fxLayoutAlign="start center">
                <i class="material-icons">add</i>
                <span class="md-margin-left-1">Add Another Option</span>
              </div>
            </button>
          </div>
        </div>
      </div>
      <div class="sc-product__create-container-1">
        <div class="sc-product__create-title">
          Inventory & Pricing
        </div>
        <div class="md-margin-top-2" *ngIf="!isProductListShow">
          <div formArrayName="variants" >
            <div *ngFor="let p of product.controls; let i = index">
              <div [formGroupName]="i" fxLayout="column">
                <div fxLayout="row" fxLayoutAlign="start center">
                  <div fxFlex="46" fxLayout="row" fxLayoutAlign="start center">
                    <mat-form-field fxFlex>
                      <input type="text" matInput placeholder="SKU" formControlName="sku">
                    </mat-form-field>
                  </div>
                </div>
                <div fxLayout="row" fxLayoutAlign="start center">
                  <div fxFlex="46" fxLayout="row" fxLayoutAlign="start center">
                    <mat-form-field fxFlex>
                      <input type="text" matInput placeholder="Quantity" formControlName="stock">
                    </mat-form-field>
                  </div>
                </div>
                <div fxLayout="row" fxLayoutAlign="space-between center">
                  <div fxFlex="46" fxLayout="row" fxLayoutAlign="start center">
                    <div class="md-margin-right-2 sc-product__create-title">$</div>
                    <mat-form-field fxFlex>
                      <input type="text" matInput placeholder="Sale Price" formControlName="saleUnitPrice">
                    </mat-form-field>
                  </div>
                  <div fxFlex="46" fxLayout="row" fxLayoutAlign="start center">
                    <div class="md-margin-right-2 sc-product__create-title">$</div>
                    <mat-form-field fxFlex>
                      <input type="text" matInput placeholder="Original Price" formControlName="unitPrice">
                    </mat-form-field>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="md-margin-top-2" *ngIf="isProductListShow">
          <div formArrayName="variants" >
            <div fxLayout="row" fxLayoutAlign="start center">
              <div class="sc-product__create-margin-right-1 sc-product__create-width-1 md-dark-secondary xb-bold"
                   fxFlex="none" fxLayout="row" fxLayoutAlign="center center">
                Variants
              </div>
              <div class="sc-product__create-margin-right-1 md-dark-secondary xb-bold"
                   fxFlex="20" fxLayout="row" fxLayoutAlign="center center">
                SKU
              </div>
              <div class="sc-product__create-margin-right-3 md-dark-secondary xb-bold"
                   fxFlex="10" fxLayout="row" fxLayoutAlign="center center">
                Quantity
              </div>
              <div class="sc-product__create-margin-right-3 md-dark-secondary xb-bold"
                   fxFlex="15" fxLayout="row" fxLayoutAlign="center center">
                Sale Price
              </div>
              <div class="md-dark-secondary xb-bold"
                   fxFlex="15" fxLayout="row" fxLayoutAlign="center center">
                Original Price
              </div>
            </div>
            <div fxLayout="column" fxLayoutAlign="start stretch" *ngFor="let p of product.controls; let i = index;">
              <div [formGroupName]="i" fxLayout="row" fxLayoutAlign="start center">
                <div class="sc-product__create-margin-right-1 sc-product__create-width-1 sc-product__create-text-2" fxFlex="none">
                  {{p.value.attributes.value}}
                </div>
                <div class="sc-product__create-margin-right-1" fxFlex="20" fxLayout="row" fxLayoutAlign="start center">
                  <mat-form-field class="sc-product__create-width-100">
                    <input type="text" matInput formControlName="stock">
                  </mat-form-field>
                </div>
                <div class="sc-product__create-margin-right-3" fxFlex="10" fxLayout="row" fxLayoutAlign="start center">
                  <mat-form-field class="sc-product__create-width-100">
                    <input type="text" matInput formControlName="sku">
                  </mat-form-field>
                </div>
                <div class="sc-product__create-margin-right-3" fxFlex="15" fxLayout="row" fxLayoutAlign="start center">
                  <div class="md-margin-right-2 sc-product__create-title">$</div>
                  <mat-form-field class="sc-product__create-width-100">
                    <input type="text" matInput formControlName="saleUnitPrice">
                  </mat-form-field>
                </div>
                <div fxFlex="15" fxLayout="row" fxLayoutAlign="start center">
                  <div class="md-margin-right-2 sc-product__create-title">$</div>
                  <mat-form-field class="sc-product__create-width-100">
                    <input type="text" matInput formControlName="unitPrice">
                  </mat-form-field>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="sc-product__create-text-1 md-margin-top-2">A competitive price can boost your sales conversion.</div>
      </div>
      <div class="sc-product__create-container-1">
        <div class="sc-product__create-title">
          Shipping
        </div>
        <div class="md-margin-top-2" formArrayName="shipping">
          <div class="sc-product__create-list" fxLayout="column" *ngFor="let p of shipping.controls; let i = index">
            <div [formGroupName]="i">
              <div fxLayout="row" fxLayoutAlign="space-between center">
                <div fxFlex="46" fxLayout="row" fxLayoutAlign="start center">
                  <mat-form-field fxFlex>
                    <mat-select name="country" placeholder="Shipping Country"
                                formControlName="countryId" (ngModelChange)="changeShippingMethod($event, p)">
                      <mat-option class="md-align-center" *ngFor="let item of countries" [value]="item.id">
                        {{ item.code }}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
              </div>
              <div fxLayout="row" fxLayoutAlign="space-between center" *ngIf="p.shippingMethodList && p.shippingMethodList.length > 0">
                <div fxFlex="46" fxLayout="row" fxLayoutAlign="start center">
                  <mat-form-field fxFlex>
                    <mat-select name="method" placeholder="Choose a Shipping Carrier"
                                formControlName="id" (ngModelChange)="changeShippingPrice($event, p)">
                      <mat-option class="md-align-center" *ngFor="let item of p.shippingMethodList" [value]="item.id">
                        {{ item.shippingProvider }}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
                <div fxFlex="46" fxLayout="row" fxLayoutAlign="start center" *ngIf="p.value.id != ''">
                  <div class="md-margin-right-2 sc-product__create-title">$</div>
                  <mat-form-field fxFlex>
                    <input type="text" matInput placeholder="Shipping Charge"
                           formControlName="price" >
                  </mat-form-field>
                </div>
              </div>
              <div class="sc-product__create-title-1 md-margin-top-2" *ngIf="p.value.id != ''">
                Shipping Time
              </div>
              <mat-radio-group class="md-margin-top-2" *ngIf="p.value.id != ''"
                             fxLayout="row" fxLayoutAlign="start center" fxLayoutWrap formControlName="shippingTime">
                <mat-radio-button fxFlex="25" class="sc-product__create-height" *ngFor="let value of shippingTimeList;let i = index;"
                                  [value]="value.value" color="primary" (change)="showMinAndMaxTime($event, i, p)">
                  <div fxLayout="row" fxLayoutAlign="start center">
                    {{ value.text }}
                    <div *ngIf="i == 5 && p.value.checked" class="md-margin-left-4" fxLayout="row" fxLayoutAlign="start center">
                      <mat-form-field class="sc-product__create-width">
                        <input class="md-align-center" type="number" matInput placeholder="Min" formControlName="min"
                               (ngModelChange)="changeShippingTime($event, p, 0)">
                      </mat-form-field>
                      <div class="md-margin-left-2 md-margin-right-2">-</div>
                      <mat-form-field class="sc-product__create-width">
                        <input class="md-align-center" type="number" matInput placeholder="Max" formControlName="max"
                               (ngModelChange)="changeShippingTime($event, p, 1)">
                      </mat-form-field>
                    </div>
                  </div>
                </mat-radio-button>
              </mat-radio-group>
            </div>
          </div>
        </div>
        <div class="md-margin-top-2">
          <button type="button" mat-raised-button color="primary" (click)="addShippingList()">
            <div fxLayout="row" fxLayoutAlign="start center">
              <i class="material-icons">add</i>
              <span class="md-margin-left-1">Add Another Shipping Method</span>
            </div>
          </button>
        </div>
      </div>
      <div class="sc-product__create-container-1">
        <div class="sc-product__create-title">
          Affiliate Commission Settings
        </div>
        <div class="md-margin-top-2" fxLayout="column">
          <div fxFlex="46" fxLayout="row" fxLayoutAlign="space-between center">
            <div fxFlex="46" fxLayout="row" fxLayoutAlign="start center">
              <mat-form-field fxFlex>
                <input type="text" matInput placeholder="Set Your Affiliate Sales Commission Rate" formControlName="commission">
              </mat-form-field>
              <div class="md-margin-right-2 sc-product__create-title">%</div>
            </div>
          </div>
          <div class="sc-product__create-text-1 md-margin-top-2">- Your commission is set to reward your affiliate
            partners on SocialCommer.</div>
          <div class="sc-product__create-text-1 md-margin-top-2">- Commission will be charged when a customer purchases
            your product successfully.</div>
          <div class="sc-product__create-text-1 md-margin-top-2">- The commission is calculated based on your product
            and shipping price.</div>
          <div class="sc-product__create-text-1 md-margin-top-2">- A high commission rate can attract more affiliate
            partners(e.g > 20%).</div>
        </div>
      </div>
      <div class="sc-product__create-margin-top" fxLayout="row" fxLayoutAlign="center center">
        <button mat-raised-button color="primary" type="button" (click)="continue()">
          SAVE & CONTINUE
        </button>
      </div>
    </div>
  </form>
  <form [formGroup]="productForm1" novalidate *ngIf="step == 1">
    <div>
      <div class="sc-product__create-container-1">
        <div class="sc-product__create-title">
          Product Details
        </div>
        <div class="md-margin-top-4" fxLayout="row" fxLayoutAlign="start center">
          <div class="md-dark-secondary md-margin-right-3">Product Name</div><div>XXXXXXXXXX</div>
        </div>
        <div class="md-margin-top-2" fxLayout="column">
          <div fxLayout="row" fxLayoutAlign="start center">
            <mat-form-field fxFlex>
              <input type="text" matInput placeholder="Brand Name(Optional)" formControlName="brandName">
            </mat-form-field>
          </div>
          <div fxLayout="row" fxLayoutAlign="start center">
            <mat-form-field fxFlex>
              <textarea matInput placeholder="Product Description" formControlName="description"></textarea>
            </mat-form-field>
          </div>
        </div>
        <div class="sc-product__create-title-1 md-margin-top-2">
          Main Image
        </div>
        <div class="md-margin-top-2">
          <app-product-image-upload-main [(previewImgFile)]="previewImgFile" [(previewImgSrcs)]="previewImgSrcs"></app-product-image-upload-main>
        </div>
        <div class="sc-product__create-title-1 md-margin-top-2">
          Additional Images
        </div>
        <div class="md-margin-top-2">
          <app-product-image-upload-additional [(previewImgFile)]="additionalList" [(previewImgSrcs)]="additionalSrcs"></app-product-image-upload-additional>
        </div>
        <div class="sc-product__create-text-1 md-margin-top-4">Products with high quality images can get the most sales.</div>
      </div>
      <div class="sc-product__create-container-1">
        <div class="sc-product__create-title">
          Logistics Information
        </div>
        <div>
          <div fxLayout="row" fxLayoutAlign="start center">
            <div class="sc-product__create-width-2 sc-product__create-margin-right-1" fxFlex="none">Package length</div>
            <div class="sc-product__create-margin-right-2" fxLayout="row" fxLayoutAlign="start center" fxFlex="50">
              <mat-form-field fxFlex>
                <input type="text" matInput formControlName="length">
              </mat-form-field>
            </div>
            <div>cm</div>
          </div>
          <div fxLayout="row" fxLayoutAlign="start center">
            <div class="sc-product__create-width-2 sc-product__create-margin-right-1" fxFlex="none">Package Width</div>
            <div class="sc-product__create-margin-right-2" fxLayout="row" fxLayoutAlign="start center" fxFlex="50">
              <mat-form-field fxFlex>
                <input type="text" matInput formControlName="width">
              </mat-form-field>
            </div>
            <div>cm</div>
          </div>
          <div fxLayout="row" fxLayoutAlign="start center">
            <div class="sc-product__create-width-2 sc-product__create-margin-right-1" fxFlex="none">Package Height</div>
            <div class="sc-product__create-margin-right-2" fxLayout="row" fxLayoutAlign="start center" fxFlex="50">
              <mat-form-field fxFlex>
                <input type="text" matInput formControlName="height">
              </mat-form-field>
            </div>
            <div>cm</div>
          </div>
          <div fxLayout="row" fxLayoutAlign="start center">
            <div class="sc-product__create-width-2 sc-product__create-margin-right-1" fxFlex="none">Package Weight</div>
            <div class="sc-product__create-margin-right-2" fxLayout="row" fxLayoutAlign="start center" fxFlex="50">
              <mat-form-field fxFlex>
                <input type="text" matInput formControlName="weight">
              </mat-form-field>
            </div>
            <div>g</div>
          </div>
          <div fxLayout="row" fxLayoutAlign="start center">
            <div class="sc-product__create-width-2 sc-product__create-margin-right-1" fxFlex="none">Custom Declared Value</div>
            <div class="sc-product__create-margin-right-2" fxLayout="row" fxLayoutAlign="start center" fxFlex="50">
              <div class="sc-product__create-margin-right-2">$</div>
              <mat-form-field fxFlex>
                <input type="text" matInput formControlName="customsDeclaredCharge">
              </mat-form-field>
            </div>
          </div>
          <div fxLayout="row" fxLayoutAlign="start center">
            <div class="sc-product__create-width-2 sc-product__create-margin-right-1" fxFlex="none">Country of Origin</div>
            <div class="sc-product__create-margin-right-2" fxLayout="row" fxLayoutAlign="start center" fxFlex="50">
              <mat-form-field fxFlex>
                <mat-select name="originCountryId" placeholder="Select a Country Code"
                            formControlName="originCountryId">
                  <mat-option *ngFor="let item of countries" [value]="item.id">
                    {{ item.code }}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
          </div>
          <div fxLayout="row" fxLayoutAlign="start center">
            <div class="sc-product__create-width-2 sc-product__create-margin-right-1" fxFlex="none">Contains Powder</div>
            <div fxLayout="row" fxLayoutAlign="start center" fxFlex="50">
              <mat-radio-group fxLayout="row" fxLayoutAlign="start center" fxLayoutWrap formControlName="isPowder">
                <mat-radio-button class="sc-product__create-height sc-product__create-margin-right-4" *ngFor="let value of YesOrNo;let i = index;"
                                  [value]="value" color="primary">
                  {{ value }}
                </mat-radio-button>
              </mat-radio-group>
            </div>
          </div>
          <div fxLayout="row" fxLayoutAlign="start center">
            <div class="sc-product__create-width-2 sc-product__create-margin-right-1" fxFlex="none">Contains Liquid</div>
            <div fxLayout="row" fxLayoutAlign="start center" fxFlex="50">
              <mat-radio-group fxLayout="row" fxLayoutAlign="start center" fxLayoutWrap formControlName="isLiquid">
                <mat-radio-button class="sc-product__create-height sc-product__create-margin-right-4" *ngFor="let value of YesOrNo;let i = index;"
                                  [value]="value" color="primary">
                  {{ value }}
                </mat-radio-button>
              </mat-radio-group>
            </div>
          </div>
          <div class="sc-product__create-margin-right-2" fxLayout="row" fxLayoutAlign="start center">
            <div class="sc-product__create-width-2 sc-product__create-margin-right-1" fxFlex="none">Contains Battery</div>
            <div fxLayout="row" fxLayoutAlign="start center" fxFlex="50">
              <mat-radio-group fxLayout="row" fxLayoutAlign="start center" fxLayoutWrap formControlName="isBattery">
                <mat-radio-button class="sc-product__create-height sc-product__create-margin-right-4" *ngFor="let value of YesOrNo;let i = index;"
                                  [value]="value" color="primary">
                  {{ value }}
                </mat-radio-button>
              </mat-radio-group>
            </div>
          </div>
        </div>
      </div>
      <div class="sc-product__create-margin-top-1" fxLayout="row" fxLayoutAlign="start center">
        <div fxFlex>
          <div class="xb-bold md-margin-left-2"><< Back</div>
        </div>
        <div fxLayout="row" fxLayoutAlign="start center">
          <button mat-raised-button color="primary" type="button" (click)="publish()">
            PUBLISH
          </button>
          <div class="md-margin-left-2">
            <button mat-button color="primary" type="button">
              SAVE DRAFT
            </button>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>
