<div class="sc-promote__promote-navigation" fxLayout="row" fxLayoutAlign="start center">
  <div class="sc-promote__promote-title-2" fxFlex="40">
    Product
  </div>
  <div class="sc-promote__promote-title-2 md-align-center md-margin-right-2" fxFlex="15"
       fxLayout="column" fxLayoutAlign="center center">
    Supplier Name
  </div>
  <div class="sc-promote__promote-title-2 md-align-center md-margin-right-2" fxFlex="15"
       fxLayout="column" fxLayoutAlign="center center">
    Final Category
  </div>
  <div class="sc-promote__promote-title-2 md-align-center md-margin-right-2" fxFlex="15"
       fxLayout="column" fxLayoutAlign="center center">
    Selling Price
  </div>
  <div class="sc-promote__promote-title-2 md-align-center md-margin-right-2" fxFlex="15" *ngIf="status == 0"
       fxLayout="column" fxLayoutAlign="center center">
    Units Sold
  </div>
  <div class="sc-promote__promote-title-2 md-align-center md-margin-right-2" fxFlex="15" *ngIf="status == 1"
       fxLayout="column" fxLayoutAlign="center center">
    Conversion Rate
  </div>
</div>
