<div class="sc-order-dialog">
  <div class="sc-order-dialog__close" (click)="close()" >
    <i class="iconfontXberts icon-ic-close"></i>
  </div>
  <div class="sc-order-dialog__title">
    Add Category
  </div>
  <form class="md-margin-top-3" [formGroup]="categoryForm" novalidate>
    <div class="xb-bold">
      Category Type
    </div>
    <div fxLayout="row" fxLayoutAlign="start center">
      <mat-form-field fxFlex>
        <mat-select name="category" placeholder="Select a Category Type" formControlName="categoryType">
          <mat-option class="md-align-center" *ngFor="let item of categoryTypeList" [value]="item">
            {{ item }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div fxLayout="row" fxLayoutAlign="start center">
      <div *ngIf="categoryForm.get('categoryType').invalid && (categoryForm.get('categoryType').dirty ||
              categoryForm.get('categoryType').touched)" class="xb-input-error">
        <div *ngIf="categoryForm.get('categoryType').hasError('required')">
          This field is required.
        </div>
      </div>
    </div>
    <div class="xb-bold">
      Category Name
    </div>
    <div fxLayout="row" fxLayoutAlign="start center">
      <mat-form-field fxFlex>
        <input type="text" matInput placeholder="Category Name" formControlName="name">
      </mat-form-field>
    </div>
    <div fxLayout="row" fxLayoutAlign="start center">
      <div *ngIf="categoryForm.get('name').invalid && (categoryForm.get('name').dirty ||
              categoryForm.get('name').touched)" class="xb-input-error">
        <div *ngIf="categoryForm.get('name').hasError('required')">
          This field is required.
        </div>
      </div>
    </div>
    <div class="xb-bold">
      Category Index
    </div>
    <div fxLayout="row" fxLayoutAlign="start center">
      <mat-form-field fxFlex>
        <input type="text" matInput placeholder="Category Index" formControlName="index">
      </mat-form-field>
    </div>
    <div fxLayout="row" fxLayoutAlign="start center">
      <div *ngIf="categoryForm.get('index').invalid && (categoryForm.get('index').dirty ||
              categoryForm.get('index').touched)" class="xb-input-error">
        <div *ngIf="categoryForm.get('index').hasError('required')">
          This field is required.
        </div>
      </div>
    </div>
    <div class="xb-bold">
      Category Image
    </div>
    <div fxLayout="row" fxLayoutAlign="start center">
      <app-category-image-upload-category [(previewImgFile)]="categoryForm.controls[0].value.image"
                                        [(previewImgSrcs)]="categoryForm.controls[0].value.image"></app-category-image-upload-category>
    </div>
    <div fxLayout="row" fxLayoutAlign="start center">
      <div *ngIf="categoryForm.get('image').invalid && (categoryForm.get('image').dirty ||
              categoryForm.get('image').touched)" class="xb-input-error">
        <div *ngIf="categoryForm.get('image').hasError('required')">
          This field is required.
        </div>
      </div>
    </div>
  </form>
  <div *ngIf="error" class="xb-input-error">{{error}}</div>
  <div class="sc-order-dialog__margin-top" fxLayout="row" fxLayoutAlign="end center">
    <button mat-raised-button color="primary" (click)="create()">SAVE</button>
    <div class="md-margin-left-2">
      <button mat-button color="primary" (click)="close()">CANCEL</button>
    </div>
  </div>
</div>
