<div class="sc-promote__promote-navigation" fxLayout="row" fxLayoutAlign="start center">
  <div class="sc-promote__promote-title-2" fxFlex="40">
    Product
  </div>
  <div class="sc-promote__promote-title-2 md-align-center md-margin-right-2" fxFlex="15"
       fxLayout="column" fxLayoutAlign="center center">
    Supplier Name
  </div>
  <div class="sc-promote__promote-title-2 md-align-center md-margin-right-2" fxFlex="15"
       fxLayout="column" fxLayoutAlign="center center">
    Category
  </div>
  <div class="sc-promote__promote-title-2 md-align-center md-margin-right-2" fxFlex="10"
       fxLayout="column" fxLayoutAlign="center center">
    Price
  </div>
  <div class="sc-promote__promote-title-2 md-align-center md-margin-right-2" fxFlex="10"
       fxLayout="column" fxLayoutAlign="center center">
    Drops
  </div>
  <div class="sc-promote__promote-title-2 md-align-center" fxFlex="10"
       fxLayout="column" fxLayoutAlign="center center">
    Action
  </div>
</div>
