<div class="sc-promote__promote-navigation" fxLayout="row" fxLayoutAlign="start center">
  <div class="sc-promote__promote-title-2 md-margin-right-2 sc-promote__promote-width-3" fxFlex="none" fxLayout="column" fxLayoutAlign="center stretch">
    Avatar
  </div>
  <div class="sc-promote__promote-title-2 md-margin-right-2" fxFlex="15">
    Name
  </div>
  <div class="sc-promote__promote-title-2 md-align-center md-margin-right-2" fxFlex="15"
       fxLayout="column" fxLayoutAlign="center center">
    Email
  </div>
  <div class="sc-promote__promote-title-2 md-align-center md-margin-right-2" fxFlex="15"
       fxLayout="column" fxLayoutAlign="center center">
    Number of Orders
  </div>
  <div class="sc-promote__promote-title-2 md-align-center md-margin-right-2" fxFlex="15"
       fxLayout="column" fxLayoutAlign="center center">
    Payment Amount
  </div>
  <div class="sc-promote__promote-title-2 md-align-center md-margin-right-2" fxFlex="15"
       fxLayout="column" fxLayoutAlign="center center">
    Raffle Entry Times
  </div>
  <div class="sc-promote__promote-title-2 md-align-center md-margin-right-2" fxFlex="15"
       fxLayout="column" fxLayoutAlign="center center">
    1st Prize Times
  </div>
  <div class="sc-promote__promote-width-4 sc-promote__promote-title-2 md-align-center" fxFlex="none"
       fxLayout="column" fxLayoutAlign="center center">
    Action
  </div>
</div>
