<div fxLayout="column" fxLayoutAlign="start stretch">
  <div class="sc-order__product-height" fxLayout="row" fxLayoutAlign="start center" >
    <div class="xb-bold">
      {{ 'ORDERS.ITEM.TITLE1' | translate }}:{{order.created | amTz:'Asia/Kolkata' | amDateFormat:'MMMM Do, YYYY'}}
    </div>
    <div class="xb-bold md-margin-left-3" *ngIf="order.paidTime">
      {{ 'ORDERS.ITEM.TITLE2' | translate }}: {{order.paidTime | amTz:'Asia/Kolkata' | amDateFormat:'MMMM Do, YYYY HH:mm:ss'}}
    </div>
    <div class="md-margin-left-3">{{ 'ORDERS.ITEM.TITLE3' | translate }} #: {{order.number}}</div>
    <div class="md-margin-left-3" *ngIf="order.orderSourceName">{{ 'ORDERS.ITEM.TITLE4' | translate }}: {{order.orderSourceName}} - {{order.thirdPartyOrderNumber}}</div>
    <div class="md-margin-left-3" *ngIf="order.sumOrderNumber">{{'ORDERS.ITEM.TITLE5'| translate }} #:</div>
    <div fxFlex></div>
    <a class="sc-product__color text-underline xb-bold md-margin-right-2 xb-pointer" routerLink="./detail/{{order.id}}" target="_blank">{{'ORDERS.ITEM.TITLE6'| translate }}</a>
  </div>
  <div class="sc-order__product-item-1" fxLayout="row" fxLayoutAlign="start start">
    <div fxLayout="column" fxFlex="70" fxLayoutAlign="start stretch">
      <div class="sc-order__product-item" fxLayout="row" fxLayoutAlign="start center">
        <div class="sc-order__product-width sc-order__product-margin-right" fxLayout="row" fxLayoutAlign="start stretch" fxFlex="none">
          <div class="sc-order__product-image" fxFlex="none">
            <img [src]="order.lines[0].mainImage">
          </div>
          <div fxFlex fxLayout="column" fxLayoutAlign="space-between start">
            <div class="sc-order__product-title" >{{order.lines[0].title}}</div>
            <div fxLayout="row" fxLayoutAlign="start center">
              <div>{{order.lines[0].attributes}}</div>
              <div class="md-margin-left-2">SKU: {{order.lines[0].sku}}</div>
            </div>
          </div>
        </div>
        <div class="sc-order__product-margin-right" fxFlex="15"
             fxLayout="column" fxLayoutAlign="center center" *ngIf="order.orderStatus != 'Canceled'">{{order.orderStatus}}</div>
        <div class="sc-order__product-margin-right" fxFlex="15"
             fxLayout="column" fxLayoutAlign="center center" *ngIf="order.orderStatus == 'Canceled' && order.cancelType == 'suppiler'">
          Supplier {{order.orderStatus}}</div>
        <div class="sc-order__product-margin-right" fxFlex="15"
             fxLayout="column" fxLayoutAlign="center center" *ngIf="order.orderStatus == 'Canceled' && order.cancelType == 'customer'">
          Customer {{order.orderStatus}}</div>
        <div class="sc-order__product-margin-right" fxFlex="15"
             fxLayout="column" fxLayoutAlign="center center" *ngIf="order.orderStatus == 'Canceled' && !order.cancelType">
          System {{order.orderStatus}}</div>
        <div class="sc-order__product-margin-right" fxFlex="15"
             fxLayout="column" fxLayoutAlign="center center">{{order.orderType}}</div>
        <div fxFlex="15"
             fxLayout="column" fxLayoutAlign="center center">{{order.lines[0].quantity}}</div>
      </div>
    </div>
    <div fxLayout="row" fxLayoutAlign="start start" fxFlex="30">
      <div class="md-margin-right-2 sc-order__product-height-1 md-align-center" fxFlex="35"
           fxLayout="column" fxLayoutAlign="center center">
        {{order.username}}
      </div>
      <div class="sc-order__product-height-1 xb-bold" fxFlex="30"
           fxLayout="column" fxLayoutAlign="center center">
        <div>{{order.paymentMode == 'cod' ? 'Cod' : 'Prepaid'}}</div>
        <div class="md-margin-top-1" *ngIf="order.paymentMode == 'imprest'">
          {{order.paymentStatus}}
        </div>
      </div>
      <div class="sc-order__product-height-1 xb-bold" fxFlex="35"
           fxLayout="column" fxLayoutAlign="center center">
        {{ order.realAmount | currency: currency: true }}
      </div>
    </div>
  </div>
  <div class="sc-order__product-item-3">
    <div fxLayout="row" fxLayoutAlign="start center">
      <div class="md-dark-secondary sc-order__product-item-left" fxFlex="none">
        Email
      </div>
      <div fxFlex="">
        {{order.email}}
      </div>
      <div *ngIf="status != 9" fxLayout="row" fxLayoutAlign="start center">
        <div class="sc__accent-dark " *ngIf="(order.orderStatus == 'Paid' || order.orderStatus == 'Packing') && order.sourcingStatus == 'Not Started' && !order.sourcingAddressNote">
          <button mat-raised-button color="accent" (click)="editState()"> {{'ORDERS.ITEM.BUTTON1'| translate }}</button>
        </div>
        <div class="sc__accent-dark md-margin-left-1" *ngIf="(order.orderStatus == 'Paid' || order.orderStatus == 'Packing') && order.sourcingStatus == 'Not Started'">
          <button mat-raised-button color="accent" (click)="editStock()">{{'ORDERS.ITEM.BUTTON3'| translate }}</button>
        </div>
        <div class="sc__accent-dark md-margin-left-1" *ngIf="(order.orderStatus == 'Paid' || order.orderStatus == 'Packing') && order.sourcingStatus == 'Not Started'">
          <button mat-raised-button color="accent" (click)="editSourcing()">{{'ORDERS.ITEM.BUTTON5'| translate }}</button>
        </div>
        <div class="sc__accent-dark" *ngIf="(order.orderStatus == 'Paid' || order.orderStatus == 'Packing') && order.sourcingStatus == 'Address Pending Confirm'">
          <button mat-raised-button color="primary" (click)="editAddress()">{{'ORDERS.ITEM.BUTTON2'| translate }}</button>
        </div>
        <div class="sc__accent-dark" *ngIf="(order.orderStatus == 'Paid' || order.orderStatus == 'Packing') && order.sourcingStatus == 'Out of stock'">
          <button mat-raised-button color="primary" (click)="editStock()">{{'ORDERS.ITEM.BUTTON4'| translate }}</button>
        </div>
        <div class="sc__accent-dark md-margin-left-1" *ngIf="(order.orderStatus == 'Paid' || order.orderStatus == 'Packing') && order.sourcingStatus == 'Out of stock'">
          <button mat-raised-button color="accent" (click)="editSourcing()">{{'ORDERS.ITEM.BUTTON5'| translate }}</button>
        </div>
        <div class="sc__accent-dark" *ngIf="(order.orderStatus == 'Paid' || order.orderStatus == 'Packing') && order.sourcingStatus == 'Started'">
          <button mat-raised-button color="accent" (click)="editStock()">{{'ORDERS.ITEM.BUTTON3'| translate }}</button>
        </div>
        <div class="sc__accent-dark md-margin-left-1" *ngIf="(order.orderStatus == 'Paid' || order.orderStatus == 'Packing') && order.sourcingStatus == 'Started'">
          <button mat-raised-button color="primary" (click)="editSourcing()">{{'ORDERS.ITEM.BUTTON6'| translate }}</button>
        </div>
        <div class="sc__accent-dark" *ngIf="order.orderStatus == 'Audit canceled'">
          <button mat-raised-button color="accent" (click)="approveCancel()">{{'ORDERS.ITEM.BUTTON7'| translate }}</button>
        </div>
        <div class="sc__accent-dark md-margin-left-1" *ngIf="order.orderStatus != 'Unpaid' && order.orderStatus != 'Canceled'">
          <button mat-raised-button color="accent" (click)="addNote()" *ngIf="order.orderNotes == '' ">{{'ORDERS.ITEM.BUTTON8'| translate }}</button>
          <button mat-raised-button color="primary" (click)="addNote()" *ngIf="order.orderNotes != ''">{{'ORDERS.ITEM.BUTTON9'| translate }}</button>
        </div>
      </div>
    </div>
    <div class="md-margin-top-1" fxLayout="row" fxLayoutAlign="start start">
      <div class="md-dark-secondary sc-order__product-item-left" fxFlex="none">
        {{'ORDERS.ITEM.TITLE7'| translate }}
      </div>
      <div fxFlex="">
        {{order.phoneNumber}}
      </div>
    </div>
    <div class="md-margin-top-1" fxLayout="row" fxLayoutAlign="start start">
      <div class="md-dark-secondary sc-order__product-item-left" fxFlex="none">
        {{'ORDERS.ITEM.TITLE8'| translate }}
      </div>
      <div>
        {{order.address}}
      </div>
    </div>
    <div class="md-margin-top-1" fxLayout="row" fxLayoutAlign="start start" *ngIf="order.sourcingStatus == 'Out of stock'">
      <div class="md-dark-secondary sc-order__product-item-left" fxFlex="none">
        {{'ORDERS.ITEM.TITLE9'| translate }}
      </div>
      <div>
        {{order.sourcingNote}}
      </div>
    </div>
    <div class="md-margin-top-1" fxLayout="row" fxLayoutAlign="start start" *ngIf="order.sourcingOrderNumber">
      <div class="md-dark-secondary sc-order__product-item-left" fxFlex="none">
        {{'ORDERS.ITEM.TITLE10'| translate }}
      </div>
      <div>
        {{order.sourcingOrderNumber}}
      </div>
    </div>
    <div class="md-margin-top-1" fxLayout="row" fxLayoutAlign="start start"  *ngIf="order.orderNotes">
      <div class="md-dark-secondary sc-order__product-item-left" fxFlex="none">
        {{'ORDERS.ITEM.TITLE11'| translate }}
      </div>
      <div>
        {{order.orderNotes}}
      </div>
    </div>
    <div class="md-margin-top-1" fxLayout="row" fxLayoutAlign="start start"  *ngIf="order.sourcingAddressNote">
      <div class="md-dark-secondary sc-order__product-item-left" fxFlex="none">
        {{'ORDERS.ITEM.TITLE12'| translate }}
      </div>
      <div>
        {{order.sourcingAddressNote}}
      </div>
    </div>
    <div class="md-margin-top-1" fxLayout="row" fxLayoutAlign="start start" *ngIf="order.shippingNumber">
      <div class="md-dark-secondary sc-order__product-item-left" fxFlex="none">
        {{'ORDERS.ITEM.TITLE13'| translate }}
      </div>
      <div>
        {{order.shippingNumber}}
      </div>
    </div>
    <div class="md-margin-top-1" fxLayout="row" fxLayoutAlign="start start" *ngIf="order.shippingNumber">
      <div class="md-dark-secondary sc-order__product-item-left" fxFlex="none">
        {{'ORDERS.ITEM.TITLE14'| translate }}
      </div>
      <div>
        {{order.shippingProvider}}
      </div>
    </div>
    <div class="md-margin-top-1" fxLayout="row" fxLayoutAlign="start start" *ngIf="order.recommendWarehouse">
      <div class="md-dark-secondary sc-order__product-item-left" fxFlex="none">
        {{'ORDERS.ITEM.TITLE15'| translate }}
      </div>
      <div>
        {{order.recommendWarehouse.warehouseName}}
      </div>
    </div>
    <div class="md-margin-top-1" fxLayout="row" fxLayoutAlign="start start" *ngIf="order.purchaseUrl">
      <div class="md-dark-secondary sc-order__product-item-left" fxFlex="none">
        {{'ORDERS.ITEM.TITLE16'| translate }}
      </div>
      <a href="{{order.purchaseUrl}}" target="_blank">
        {{order.purchaseUrl}}
      </a>
    </div>
  </div>
</div>
