<div class="background-bg-light sc-main">
  <div class="sc-navigation">
    <div class="container sc-navigation__inner" fxLayout="row" fxLayoutAlign="start center">
      <div class="sc-navigation__logo" fxLayout="row" fxLayoutAlign="start center">
        <img src="https://media.xberts.com/collector/source/web/pic/logo-180x28.png" width="140">
        <div  class="sc-navigation__logo-badge">
          Beta
        </div>
      </div>
      <div class="sc-navigation__title" fxFlex>
        {{ 'NAV.TITLE1' | translate }}
      </div>
      <div class="md-margin-right-2"> {{ 'NAV.TITLE2' | translate }}</div>
      <mat-form-field class="md-margin-right-2 sc-navigation__sort">
        <mat-select [ngModel]="warehouseId" (valueChange)="warehouseChange($event)" >
          <mat-option class="md-align-center" *ngFor="let item of warehouseList" [value]="item.id">
            {{ item.warehouseName |translate }}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <div class="md-margin-right-2"> {{ 'NAV.TITLE3' | translate }}</div>
      <mat-form-field class="sc-navigation__sort">
        <mat-select [ngModel]="selectLang" (valueChange)="changeLang($event)" >
          <mat-option class="md-align-center" *ngFor="let lang of langArray" [value]="lang.value">
            {{ lang.text }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  </div>
  <app-warehouse-top-navigation></app-warehouse-top-navigation>
  <router-outlet></router-outlet>
</div>
