<div class="sc-product__product-navigation sc-product__product-navigation-{{status}}" fxLayout="row" fxLayoutAlign="start center">
  <div class="sc-product__product-title-1 md-margin-right-2" fxFlex="50">
    {{'PACKAGING.SUBTITLE.TITLE1'|translate}}
  </div>
  <div class="sc-product__product-title-1 md-margin-right-2" fxFlex="10"
       fxLayout="column" fxLayoutAlign="center center">{{'PACKAGING.SUBTITLE.TITLE2'|translate}}</div>
  <div class="sc-product__product-title-1 md-margin-right-2" fxFlex="10"
       fxLayout="column" fxLayoutAlign="center center">{{'PACKAGING.SUBTITLE.TITLE3'|translate}}</div>
  <div class="sc-product__product-title-1 md-margin-right-2" fxFlex="10"
       fxLayout="column" fxLayoutAlign="center center">{{'PACKAGING.SUBTITLE.TITLE4'|translate}}</div>
  <div class="sc-product__product-title-1 md-margin-right-2" fxFlex="5"
       fxLayout="column" fxLayoutAlign="center center">{{'PACKAGING.SUBTITLE.TITLE5'|translate}}</div>
  <div class="sc-product__product-title-1 md-margin-right-2" fxFlex="5"
       fxLayout="column" fxLayoutAlign="center center">{{'PACKAGING.SUBTITLE.TITLE6'|translate}}</div>
  <div class="sc-product__product-title-1" fxFlex="10"
       fxLayout="column" fxLayoutAlign="center center">{{'PACKAGING.SUBTITLE.TITLE7'|translate}}</div>
</div>
