<div class="sc-order__product-navigation sc-order__product-navigation-{{status}}" fxLayout="row" fxLayoutAlign="start center">
  <div fxLayout="row" fxLayoutAlign="start center" fxFlex="70">
    <div class="sc-order__product-width sc-order__product-title-1 sc-order__product-margin-right" fxFlex="none">
      {{'ORDERS.SUBTITLE.TITLE1'|translate}}
    </div>
    <div class="sc-order__product-title-1 sc-order__product-margin-right" fxFlex="15"
         fxLayout="column" fxLayoutAlign="center center">{{'ORDERS.SUBTITLE.TITLE2'|translate}}</div>
    <div class="sc-order__product-title-1 sc-order__product-margin-right" fxFlex="15"
         fxLayout="column" fxLayoutAlign="center center">{{'ORDERS.SUBTITLE.TITLE3'|translate}}</div>
    <div class="sc-order__product-title-1" fxFlex="15"
         fxLayout="column" fxLayoutAlign="center center">{{'ORDERS.SUBTITLE.TITLE4'|translate}}</div>
  </div>
  <div fxLayout="row" fxLayoutAlign="start center" fxFlex="30">
    <div class="sc-order__product-title-1 md-margin-right-2" fxFlex="35"
         fxLayout="column" fxLayoutAlign="center center" >{{'ORDERS.SUBTITLE.TITLE5'|translate}}</div>
    <div class="sc-order__product-title-1 md-margin-right-2" fxFlex="30"
         fxLayout="column" fxLayoutAlign="center center" >{{'ORDERS.SUBTITLE.TITLE6'|translate}}</div>
    <div class="sc-order__product-title-1" fxFlex="35"
         fxLayout="column" fxLayoutAlign="center center">{{'ORDERS.SUBTITLE.TITLE7'|translate}}</div>
  </div>
</div>
