<div>
  <div class="sc-product__product-item-top" fxLayout="row" fxLayoutAlign="start center">
    <div>采购单号: {{product.purchaseId}}</div>
    <div class="md-margin-left-3">下单日期: {{product.created | amDateFormat:'YYYY-MM-DD HH:mm:ss'}}</div>
    <div class="md-margin-left-3" *ngIf="product.receivedTime">收货日期: {{product.receivedTime | amDateFormat:'YYYY-MM-DD HH:mm:ss'}}</div>
  </div>
  <div class="sc-product__product-item" fxLayout="row" fxLayoutAlign="start stretch">
    <div class="md-margin-right-2" fxFlex="45" fxLayout="column" fxLayoutAlign="start stretch">
      <div class="md-margin-top-2" fxLayout="row" fxLayoutAlign="start stretch" *ngFor="let item of product.purchaseVariants;let i = index;">
        <div class="sc-product__product-image" fxFlex="none">
          <img [src]="item.mainImage">
        </div>
        <div class="md-margin-right-2" fxFlex fxLayout="column" fxLayoutAlign="space-between stretch">
          <div class="sc-product__product-title" >{{item.title}}</div>
          <div>
            <div class="md-caption md-dark-secondary">规格: {{item.attribute}}</div>
            <div fxLayout="row" fxLayoutAlign="space-between center">
              <div>SKU: {{item.sku}}</div>
              <div>x {{item.quantity}}</div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="sc-product__product-id md-margin-right-2" fxFlex="10"
         fxLayout="column" fxLayoutAlign="center center">
      <div *ngIf="product.purchaseStatus == 'Processing'">未发货</div>
      <div *ngIf="product.purchaseStatus == 'Shipped'">已发货</div>
      <div *ngIf="product.purchaseStatus == 'Delivered'">已收货</div>
      <div class="md-margin-top-1" *ngIf="product.deliveryStatus == 'Completed'">成功入库</div>
      <div class="md-margin-top-1" *ngIf="product.deliveryStatus == 'Quantity Issue'">数量问题</div>
      <div class="md-margin-top-1" *ngIf="product.deliveryStatus == 'Quality Issue'">货物问题</div>
    </div>
    <div class="sc-product__product-category md-margin-right-2" fxFlex="10"
         fxLayout="column" fxLayoutAlign="center center">
      {{product.deliveryTime | amDateFormat:'YYYY-MM-DD HH:mm:ss'}}
    </div>
    <div class="sc-product__product-price md-margin-right-2" fxFlex="10"
         fxLayout="column" fxLayoutAlign="center center">
      <div>
        {{product.logisticsCompany}}
      </div>
    </div>
    <div class="sc-product__product-price" fxFlex="15"
         fxLayout="column" fxLayoutAlign="center center">
      <div>
        {{product.logisticsId}}
      </div>
    </div>
    <div class="sc-product__product-price sc__accent-dark" fxFlex="10"
         fxLayout="column" fxLayoutAlign="center stretch">
      <div class="md-margin-top-2"></div>
      <button mat-raised-button color="primary" *ngIf="product.purchaseStatus == 'Processing'" (click)="edit()">编辑</button>
      <button mat-raised-button color="primary" *ngIf="product.purchaseStatus == 'Shipped'" (click)="complete()">点击确认收货</button>
      <button mat-raised-button color="primary" *ngIf="product.purchaseStatus == 'Delivered'" (click)="complete()">查看收货情况</button>
      <div class="md-margin-top-1"></div>
      <button mat-raised-button color="accent" (click)="trackingPackage()">查看物流信息</button>
      <div class="md-margin-top-1"></div>
      <button mat-raised-button color="accent" (click)="orderDetails()">查看采购信息</button>
      <div class="md-margin-top-1"></div>
      <button mat-raised-button color="primary" *ngIf="product.purchaseStatus == 'Processing'" (click)="delete()">删除</button>
    </div>
  </div>
</div>
