<div>
  <div class="sc-product__product-item-top" fxLayout="row" fxLayoutAlign="start center">
    <div>采购单号: {{product.purchaseId}}</div>
  </div>
  <div class="sc-product__product-item" fxLayout="row" fxLayoutAlign="start stretch">
    <div class="md-margin-right-2" fxFlex="50" fxLayout="column" fxLayoutAlign="start stretch">
      <div class="md-margin-top-2" fxLayout="row" fxLayoutAlign="start stretch" *ngFor="let item of product.purchaseVariants;let i = index;">
        <div class="sc-product__product-image" fxFlex="none">
          <img [src]="item.mainImage">
        </div>
        <div class="md-margin-right-2" fxFlex fxLayout="column" fxLayoutAlign="space-between stretch">
          <div class="sc-product__product-title" >{{item.title}}</div>
          <div fxLayout="row" fxLayoutAlign="space-between center">
            <div>SKU: {{item.sku}}</div>
            <div>x {{item.quantity}}</div>
          </div>
        </div>
      </div>
    </div>
    <div class="sc-product__product-id md-margin-right-2" fxFlex="10"
         fxLayout="column" fxLayoutAlign="center center">
      <div *ngIf="product.purchaseStatus == 'Processing'">未发货</div>
      <div *ngIf="product.purchaseStatus == 'Shipped'">已发货</div>
      <div *ngIf="product.purchaseStatus == 'Delivered'">已收货</div>
    </div>
    <div class="sc-product__product-category md-margin-right-2" fxFlex="10"
         fxLayout="column" fxLayoutAlign="center center">
      {{product.logisticsTime | amDateFormat:'MMMM Do, YYYY HH:mm:ss'}}
    </div>
    <div class="sc-product__product-price md-margin-right-2" fxFlex="10"
         fxLayout="column" fxLayoutAlign="center center">
      <div>
        {{product.logisticsCompany}}
      </div>
    </div>
    <div class="sc-product__product-price" fxFlex="10"
         fxLayout="column" fxLayoutAlign="center center">
      <div>
        {{product.logisticsId}}
      </div>
    </div>
    <div class="sc-product__product-price" fxFlex="10"
         fxLayout="column" fxLayoutAlign="center center">
      <button mat-button color="primary" (click)="trackingPackage()">Disapprove</button>
      <button mat-button color="primary" (click)="orderDetails()">Unpublish</button>
    </div>
  </div>
</div>
