<div class="sc-product__product-navigation-1 sc-product__product-navigation-{{status}}" fxLayout="row" fxLayoutAlign="start center">
  <div class="sc-product__product-title-1 md-margin-right-2" fxFlex="45">
    {{'INVENTORY.SUBTITLE.TITLE1'|translate}}
  </div>
  <div class="sc-product__product-title-1 md-margin-right-2" fxFlex="20"
       fxLayout="column" fxLayoutAlign="center center">{{'INVENTORY.SUBTITLE.TITLE3'|translate}}</div>
  <div class="sc-product__product-title-1 md-margin-right-2" fxFlex="20"
       fxLayout="column" fxLayoutAlign="center center">{{'INVENTORY.SUBTITLE.TITLE8'|translate}}</div>
  <div class="sc-product__product-title-1" fxFlex="15"
       fxLayout="column" fxLayoutAlign="center center">{{'INVENTORY.SUBTITLE.TITLE7'|translate}}</div>
</div>
