<div fxLayout="column" fxLayoutAlign="start stretch">
  <div class="sc-order__product-height" fxLayout="row" fxLayoutAlign="start center" >
    <div class="xb-bold">
      {{order.created | amTz:'Asia/Kolkata' | amDateFormat:'MMMM Do, YYYY'}}
    </div>
    <div class="md-margin-left-3" fxFlex>Order #: {{order.number}}</div>
    <a class="sc-product__color text-underline xb-bold md-margin-right-2 xb-pointer" routerLink="./detail/{{order.id}}" target="_blank">View Details</a>
  </div>
  <div class="sc-order__product-item-1" fxLayout="row" fxLayoutAlign="start start">
    <div fxLayout="column" fxFlex="75" fxLayoutAlign="start stretch">
      <div class="sc-order__product-item" fxLayout="row" fxLayoutAlign="start center">
        <div class="sc-order__product-width sc-order__product-margin-right" fxLayout="row" fxLayoutAlign="start stretch" fxFlex="none">
          <div class="sc-order__product-image" fxFlex="none">
            <img [src]="order.lines[0].mainImage">
          </div>
          <div fxFlex fxLayout="column" fxLayoutAlign="space-between start">
            <div class="sc-order__product-title" >{{order.lines[0].title}}</div>
            <div fxLayout="row" fxLayoutAlign="start center">
              {{order.lines[0].sku}}
            </div>
          </div>
        </div>
        <div class="sc-order__product-margin-right" fxFlex="15"
             fxLayout="column" fxLayoutAlign="center center">{{order.orderStatus}}</div>
        <div class="sc-order__product-margin-right" fxFlex="15"
             fxLayout="column" fxLayoutAlign="center center">{{order.orderType}}</div>
        <div fxFlex="15"
             fxLayout="column" fxLayoutAlign="center center">{{order.lines[0].quantity}}</div>
      </div>
    </div>
    <div fxLayout="row" fxLayoutAlign="start start" fxFlex="25">
      <div class="md-margin-right-2 sc-order__product-height-1 xb-bold" fxFlex="55"
           fxLayout="column" fxLayoutAlign="center center">
        {{order.username}}
      </div>
      <div class="sc-order__product-height-1 xb-bold" fxFlex="45"
           fxLayout="column" fxLayoutAlign="center center">
        {{ order.paymentAmount | currency: currency: true }}
      </div>
    </div>
  </div>
  <div class="sc-order__product-item-3">
    <div fxLayout="row" fxLayoutAlign="start start">
      <div class="md-dark-secondary sc-order__product-item-left" fxFlex="none">
        Email
      </div>
      <div fxFlex="">
        {{order.email}}
      </div>
      <div class="sc__accent-dark" *ngIf="order.orderStatus == 'Paid'">
        <button mat-raised-button color="accent" (click)="editPaid()">Mark as Packing</button>
      </div>
    </div>
    <div class="md-margin-top-1" fxLayout="row" fxLayoutAlign="start start">
      <div class="md-dark-secondary sc-order__product-item-left" fxFlex="none">
        Phone Number
      </div>
      <div>
        {{order.phoneNumber}}
      </div>
    </div>
    <div class="md-margin-top-1" fxLayout="row" fxLayoutAlign="start start">
      <div class="md-dark-secondary sc-order__product-item-left" fxFlex="none">
        Address
      </div>
      <div>
        {{order.address}}
      </div>
    </div>
  </div>
</div>
