<div class="container md-padding-bottom-2">
  <div class="md-margin-top-4 sc-order__detail-title-2">
    <span class="md-dark-secondary xb-pointer" >My Order</span> <span class="md-dark-secondary">></span>
    <span class="xb-bold">Order Details</span>
  </div>
  <div class="sc-order__detail-container md-margin-top-2">
    <div class="sc-order__detail-title sc-order__detail-margin-left-1">Order Summary</div>
    <div class="sc-order__detail-container-2">
      <div class="sc-order__product-navigation sc-order__detail-border-bottom" fxLayout="row" fxLayoutAlign="start center">
        <div class="sc-order__product-title-1 sc-order__product-margin-right" fxFlex="20"
             fxLayout="column" fxLayoutAlign="center center">
          Item Subtotal
        </div>
        <div class="sc-order__product-title-1 sc-order__product-margin-right" fxFlex="30"
             fxLayout="column" fxLayoutAlign="center center">Shipping</div>
        <div class="sc-order__product-title-1 sc-order__product-margin-right" fxFlex="30"
             fxLayout="column" fxLayoutAlign="center center">Tax</div>
        <div class="sc-order__product-title-1" fxFlex="20"
             fxLayout="column" fxLayoutAlign="center center">Grand Total</div>
      </div>
      <div class="sc-order__detail-container-3" fxLayout="row" fxLayoutAlign="start center">
        <div class="sc-order__product-margin-right" fxFlex="20"
             fxLayout="column" fxLayoutAlign="center center">$ 50</div>
        <div class="sc-order__product-margin-right" fxFlex="30"
             fxLayout="column" fxLayoutAlign="center center">$ 8</div>
        <div class="sc-order__product-margin-right" fxFlex="30"
             fxLayout="column" fxLayoutAlign="center center">$ 8</div>
        <div  fxFlex="20"
             fxLayout="column" fxLayoutAlign="center center">$ 66</div>
      </div>
    </div>
    <div></div>
  </div>
  <div class="sc-order__detail-container md-margin-top-2">
    <div class="sc-order__detail-title sc-order__detail-margin-left-1">Order Details</div>
    <div class="sc-order__detail-margin-left-1 md-margin-top-3" fxLayout="row" fxLayoutAlign="start center">
      <div class="xb-bold">Order Number</div>
      <div class="md-margin-left-2">
        201700231478
      </div>
      <div class="xb-bold sc-order__detail-margin-left">Order Date</div>
      <div class="md-margin-left-2">
        Oct 14, 2017
      </div>
    </div>
    <div class="md-margin-top-3 sc-order__detail-border-bottom">
      <app-order-detail-title></app-order-detail-title>
    </div>
    <div>
      <app-order-detail-item [status]="0"></app-order-detail-item>
      <app-order-detail-item [status]="1"></app-order-detail-item>
    </div>
    <div class="sc-order__detail-container-1">
      <div class="sc-order__detail-title-1 sc-order__detail-margin-top">
        Shipping Information
      </div>
      <div class="sc-order__detail-margin-top-1" fxLayout="column" >
        <div fxLayout="row" fxLayoutAlign="start start">
          <div class="md-dark-secondary sc-order__detail-bill-left" fxFlex="none">
            Name
          </div>
          <div>
            Taylor Swift
          </div>
        </div>
        <div class="md-margin-top-2" fxLayout="row" fxLayoutAlign="start start">
          <div class="md-dark-secondary sc-order__detail-bill-left" fxFlex="none">
            Shipping Address Line1
          </div>
          <div>
            123 John Street, Prtland, OR 123456
          </div>
        </div>
        <div class="md-margin-top-2" fxLayout="row" fxLayoutAlign="start start">
          <div class="md-dark-secondary sc-order__detail-bill-left" fxFlex="none">
            Shipping Address Line2
          </div>
          <div>
            123 John Street, Prtland, OR 123456
          </div>
        </div>
        <div class="md-margin-top-2" fxLayout="row" fxLayoutAlign="start start">
          <div class="md-dark-secondary sc-order__detail-bill-left" fxFlex="none">
            City
          </div>
          <div>
            John
          </div>
        </div>
        <div class="md-margin-top-2" fxLayout="row" fxLayoutAlign="start start">
          <div class="md-dark-secondary sc-order__detail-bill-left" fxFlex="none">
            State
          </div>
          <div>
            Portland
          </div>
        </div>
        <div class="md-margin-top-2" fxLayout="row" fxLayoutAlign="start start">
          <div class="md-dark-secondary sc-order__detail-bill-left" fxFlex="none">
            Postal / Zip Code
          </div>
          <div>
            9078 1234 8897 2234
          </div>
        </div>
        <div class="md-margin-top-2" fxLayout="row" fxLayoutAlign="start start">
          <div class="md-dark-secondary sc-order__detail-bill-left" fxFlex="none">
            Country
          </div>
          <div>
            United States of America
          </div>
        </div>
        <div class="md-margin-top-2" fxLayout="row" fxLayoutAlign="start start">
          <div class="md-dark-secondary sc-order__detail-bill-left" fxFlex="none">
            Phone Number
          </div>
          <div>
            123455677
          </div>
        </div>
      </div>
      <div class="sc-order__detail-title-1 sc-order__detail-margin-top">
        Billing Information
      </div>
      <div class="sc-order__detail-margin-top-1" fxLayout="column">
        <div fxLayout="row" fxLayoutAlign="start start">
          <div class="md-dark-secondary sc-order__detail-bill-left" fxFlex="none">
            Name
          </div>
          <div>
            Taylor Swift
          </div>
        </div>
        <div class="md-margin-top-2" fxLayout="row" fxLayoutAlign="start start">
          <div class="md-dark-secondary sc-order__detail-bill-left" fxFlex="none">
            Billing Address Line1
          </div>
          <div>
            123 John Street, Prtland, OR 123456
          </div>
        </div>
        <div class="md-margin-top-2" fxLayout="row" fxLayoutAlign="start start">
          <div class="md-dark-secondary sc-order__detail-bill-left" fxFlex="none">
            Billing Address Line2
          </div>
          <div>
            123 John Street, Prtland, OR 123456
          </div>
        </div>
        <div class="md-margin-top-2" fxLayout="row" fxLayoutAlign="start start">
          <div class="md-dark-secondary sc-order__detail-bill-left" fxFlex="none">
            City
          </div>
          <div>
            John
          </div>
        </div>
        <div class="md-margin-top-2" fxLayout="row" fxLayoutAlign="start start">
          <div class="md-dark-secondary sc-order__detail-bill-left" fxFlex="none">
            State
          </div>
          <div>
            Portland
          </div>
        </div>
        <div class="md-margin-top-2" fxLayout="row" fxLayoutAlign="start start">
          <div class="md-dark-secondary sc-order__detail-bill-left" fxFlex="none">
            Postal / Zip Code
          </div>
          <div>
            9078 1234 8897 2234
          </div>
        </div>
        <div class="md-margin-top-2" fxLayout="row" fxLayoutAlign="start start">
          <div class="md-dark-secondary sc-order__detail-bill-left" fxFlex="none">
            Country
          </div>
          <div>
            United States of America
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="sc-order__detail-container-padding md-margin-top-2">
    <div class="sc-order__detail-title sc-order__detail-margin-left-1">Tracking Information</div>
    <div class="md-margin-top-3">
      <div class="sc-order__detail-margin-bottom" *ngFor="let item of [0, 1]">
        <app-order-detail-tracking-item ></app-order-detail-tracking-item>
      </div>
    </div>
  </div>
</div>
