<div class="xb-dashboard__navigation" fxLayout="row" fxLayoutAlign="start center">
  <div class="xb-dashboard__navigation-title  md-margin-left-2" fxFlex="15"
       fxLayout="row" fxLayoutAlign="start center">Customers
  </div>
  <div class="xb-dashboard__navigation-title" fxFlex="15"
       fxLayout="row" fxLayoutAlign="start center">Submitted On
  </div>
  <div class="xb-dashboard__navigation-title" fxFlex="15"
       fxLayout="row" fxLayoutAlign="start center">Time Left
  </div>
  <div class="xb-dashboard__navigation-title" fxFlex
       fxLayout="row" fxLayoutAlign="center center">Message
  </div>
</div>
