<div class="sc__accent-dark" fxLayout="column" fxLayoutAlign="start stretch" *ngIf="status < 2">
  <div class="sc-order__detail-item" fxLayout="row" fxLayoutAlign="start stretch">
    <div class="sc-order__detail-width sc-order__detail-margin-right" fxLayout="row" fxLayoutAlign="start stretch" fxFlex="none">
      <div class="sc-order__detail-image" fxFlex="none">
        <img [src]="order.imageUrl">
      </div>
      <div fxFlex fxLayout="column" fxLayoutAlign="space-between start">
        <div class="sc-order__product-title-2" >{{order.title}}</div>
        <div fxLayout="row" fxLayoutAlign="start center">
          <div>SKU: {{order.sku}}</div>
        </div>
      </div>
    </div>
    <div class="sc-order__detail-margin-right" fxFlex="15"
         fxLayout="column" fxLayoutAlign="center center"> {{order.quantity}}</div>
    <div class="sc-order__detail-margin-right" fxFlex="20"
         fxLayout="column" fxLayoutAlign="center center">
      <div fxLayout="row" fxLayoutAlign="start center">
        <div class="sc-order__detail-width-2">
          <div>Subtotal:&nbsp;</div>
          <div class="md-margin-top-1">Shipping:&nbsp;</div>
          <div class="md-margin-top-1">Tax:&nbsp;</div>
          <div class="md-margin-top-1">Total:&nbsp;</div>
        </div>
        <div>
          <div>{{order.priceExclTax | currency: currency: true}}</div>
          <div class="md-margin-top-1">{{order.shippingExclTax | currency: currency: true}}</div>
          <div class="md-margin-top-1">$0</div>
          <div class="md-margin-top-1">{{totalAmount | currency: currency: true}}</div>
        </div>
      </div>
    </div>
    <div class="sc-order__detail-margin-right" fxFlex="20"
         fxLayout="column" fxLayoutAlign="center center">{{order.status}}</div>
    <div class="sc-order__detail-margin-right" fxFlex="15"
         fxLayout="column" fxLayoutAlign="center center">{{order.paymentStatus}}</div>
    <div fxFlex="none" *ngIf="order.status == 'Unfulfilled'" class="sc-order__detail-width-3"
         fxLayout="column" fxLayoutAlign="center stretch">
      <button mat-raised-button color="accent" (click)="editTracking()">Fulfill Order</button>
      <div class="md-margin-top-1" fxLayout="column">
        <button mat-raised-button color="accent" (click)="cancelOrder()">Cancel Order</button>
      </div>
    </div>
    <div fxFlex="none" *ngIf="order.status == 'Fulfilled'" class="sc-order__detail-width-3"
         fxLayout="column" fxLayoutAlign="center stretch">
      <button mat-raised-button color="accent" (click)="editTracking()">Edit Tracking</button>
      <div class="md-margin-top-1" fxLayout="column">
        <button mat-raised-button color="accent" (click)="cancelFulfillment()">Cancel Fulfillment</button>
      </div>
    </div>
    <div fxFlex="none" *ngIf="order.status == 'Canceled'" class="sc-order__detail-width-3"
         fxLayout="column" fxLayoutAlign="center center">
      <div class="sc-order__detail-color xb-bold">{{order.cancelSource ? order.cancelSource: 'Supplier'}} Canceled</div>
    </div>
  </div>
</div>
<div fxLayout="column" fxLayoutAlign="start stretch" *ngIf="status == 2">
  <div class="sc-order__detail-item" fxLayout="row" fxLayoutAlign="start stretch">
    <div class="sc-order__detail-width-1 sc-order__detail-margin-right" fxLayout="row" fxLayoutAlign="start stretch" fxFlex="none">
      <div class="sc-order__product-title" >{{order.title}}</div>
    </div>
    <div class="sc-order__detail-margin-right" fxFlex="15"
         fxLayout="column" fxLayoutAlign="center center">{{order.quantity}}</div>
    <div class="sc-order__detail-margin-right" fxFlex="35"
         fxLayout="column" fxLayoutAlign="center center">
      {{order.shippingPrice.shippingName}}
    </div>
    <div fxFlex="30"
         fxLayout="column" fxLayoutAlign="center center">
      {{order.shippingPrice.shippingTimeMin}} - {{order.shippingPrice.shippingTimeMax}} Days
    </div>
  </div>
</div>
<div class="sc__accent-dark" fxLayout="column" fxLayoutAlign="start stretch" *ngIf="status == 3">
  <div class="sc-order__detail-item" fxLayout="row" fxLayoutAlign="start start">
    <div class="sc-order__detail-width sc-order__detail-margin-right" fxLayout="row" fxLayoutAlign="start stretch" fxFlex="none">
      <div class="sc-order__detail-image" fxFlex="none">
        <img [src]="order.imageUrl">
      </div>
      <div fxFlex fxLayout="column" fxLayoutAlign="space-between start">
        <div class="sc-order__product-title-2" >{{order.title}}</div>
        <div fxLayout="row" fxLayoutAlign="start center">
          <div>SKU: {{order.sku}}</div>
        </div>
      </div>
    </div>
    <div class="sc-order__detail-margin-right sc-order__detail-height" fxFlex="15"
         fxLayout="column" fxLayoutAlign="center center"> {{order.quantity}}</div>
    <div class="sc-order__detail-margin-right" fxFlex="25"
         fxLayout="column" fxLayoutAlign="start center">
      <div fxLayout="row" fxLayoutAlign="start center">
        <div class="sc-order__detail-width-2">
          <div>Subtotal:&nbsp;</div>
          <div class="md-margin-top-1">Shipping:&nbsp;</div>
          <div class="md-margin-top-1">Tax:&nbsp;</div>
          <div class="md-margin-top-1">Total:&nbsp;</div>
        </div>
        <div>
          <div>{{order.priceExclTax | currency: currency: true}}</div>
          <div class="md-margin-top-1">{{order.shippingExclTax | currency: currency: true}}</div>
          <div class="md-margin-top-1">$0</div>
          <div class="md-margin-top-1">{{totalAmount | currency: currency: true}}</div>
        </div>
      </div>
    </div>
    <div class="sc-order__detail-margin-right sc-order__detail-height" fxFlex="20"
         fxLayout="column" fxLayoutAlign="center center">{{order.returnStatus}}</div>
    <div fxFlex="none" class="sc-order__detail-width-3"
         fxLayout="column" fxLayoutAlign="center stretch">
      <button mat-raised-button color="primary">Contact Customer</button>
      <div class="md-margin-top-2" fxLayout="column">
        <button mat-raised-button color="accent" (click)="authorizeReturn()">Authorize Return</button>
      </div>
      <div class="md-margin-top-1" fxLayout="column">
        <button mat-raised-button color="accent" (click)="shipExchangeItem()">Ship Exchange Item</button>
      </div>
      <div class="md-margin-top-1" fxLayout="column">
        <button mat-raised-button color="accent" (click)="issueRefund()">Issue Refund</button>
      </div>
      <div class="md-margin-top-1" fxLayout="column">
        <button mat-raised-button color="accent" (click)="denyRequest()">Deny Request</button>
      </div>
    </div>
  </div>
</div>
<div class="sc__accent-dark" fxLayout="column" fxLayoutAlign="start stretch" *ngIf="status == 4">
  <div class="sc-order__detail-item" fxLayout="row" fxLayoutAlign="start start">
    <div class="sc-order__detail-width sc-order__detail-margin-right" fxLayout="row" fxLayoutAlign="start stretch" fxFlex="none">
      <div class="sc-order__detail-image" fxFlex="none">
        <img [src]="order.imageUrl">
      </div>
      <div fxFlex fxLayout="column" fxLayoutAlign="space-between start">
        <div class="sc-order__product-title-2" >{{order.title}}</div>
        <div fxLayout="row" fxLayoutAlign="start center">
          <div>SKU: {{order.sku}}</div>
        </div>
      </div>
    </div>
    <div class="sc-order__detail-margin-right sc-order__detail-height" fxFlex="15"
         fxLayout="column" fxLayoutAlign="center center">{{order.quantity}}</div>
    <div class="sc-order__detail-margin-right" fxFlex="25"
         fxLayout="column" fxLayoutAlign="start center">
      <div fxLayout="row" fxLayoutAlign="start center">
        <div class="sc-order__detail-width-2">
          <div>Subtotal:&nbsp;</div>
          <div class="md-margin-top-1">Shipping:&nbsp;</div>
          <div class="md-margin-top-1">Tax:&nbsp;</div>
          <div class="md-margin-top-1">Total:&nbsp;</div>
        </div>
        <div>
          <div>{{order.priceExclTax | currency: currency: true}}</div>
          <div class="md-margin-top-1">{{order.shippingExclTax | currency: currency: true}}</div>
          <div class="md-margin-top-1">$0</div>
          <div class="md-margin-top-1">{{totalAmount | currency: currency: true}}</div>
        </div>
      </div>
    </div>
    <div class="sc-order__detail-margin-right sc-order__detail-height" fxFlex="20"
         fxLayout="column" fxLayoutAlign="center center">{{order.returnStatus}}</div>
    <div fxFlex="none" class="sc-order__detail-width-3"
         fxLayout="column" fxLayoutAlign="center stretch">
      <button mat-raised-button color="primary">Contact Customer</button>
      <div class="md-margin-top-2" fxLayout="column">
        <button mat-raised-button color="accent" (click)="authorizeReturn()">Authorize Return</button>
      </div>
      <div class="md-margin-top-1" fxLayout="column">
        <button mat-raised-button color="accent" (click)="issueRefund()">Issue Refund</button>
      </div>
      <div class="md-margin-top-1" fxLayout="column">
        <button mat-raised-button color="accent" (click)="denyRequest()">Deny Request</button>
      </div>
    </div>
  </div>
</div>
