<div class="xb-dashboard">
  <div class="xb-dashboard__top" fxLayout="row" fxLayoutAlign="space-between center">
    <div class="xb-dashboard__top-title">Overview</div>
    <div>Data Range Yesterday</div>
  </div>
  <div class="md-margin-top-3" fxLayout="row" fxLayoutAlign="space-between center" fxLayoutWrap>
    <div class="xb-dashboard__card" [ngStyle]="{'background-color':'#3f51b5'}" fxFlex.gt-sm="24" fxFlex.sm="48"
         fxFlex.xs="100">
      <i class="iconfontXberts icon-pic-victor"></i>
      <div class="xb-dashboard__card-data">$1000</div>
      <div class="xb-dashboard__card-word">Total Sales</div>
    </div>
    <div class="xb-dashboard__card" [ngStyle]="{'background-color':'#00bdb4'}" fxFlex.gt-sm="24" fxFlex.sm="48"
         fxFlex.xs="100">
      <i class="iconfontXberts icon-pic-victor"></i>
      <div class="xb-dashboard__card-data">$1000</div>
      <div class="xb-dashboard__card-word">Total Earnings</div>
    </div>
    <div class="xb-dashboard__card" [ngStyle]="{'background-color':'#ffc502'}" fxFlex.gt-sm="24" fxFlex.sm="48"
         fxFlex.xs="100">
      <i class="iconfontXberts icon-pic-victor"></i>
      <div class="xb-dashboard__card-data">$1000</div>
      <div class="xb-dashboard__card-word">Total Order</div>
    </div>
    <div class="xb-dashboard__card" [ngStyle]="{'background-color':'#40ad33'}" fxFlex.gt-sm="24" fxFlex.sm="48"
         fxFlex.xs="100">
      <i class="iconfontXberts icon-pic-victor"></i>
      <div class="xb-dashboard__card-data">$1000</div>
      <div class="xb-dashboard__card-word">Total Item Sold</div>
    </div>
    <div class="xb-dashboard__card" [ngStyle]="{'background-color':'#663fb5'}" fxFlex.gt-sm="24" fxFlex.sm="48"
         fxFlex.xs="100">
      <i class="iconfontXberts icon-pic-victor"></i>
      <div class="xb-dashboard__card-data">$1000</div>
      <div class="xb-dashboard__card-word">Total Product Views</div>
    </div>
    <div class="xb-dashboard__card" [ngStyle]="{'background-color':'#40ad33'}" fxFlex.gt-sm="24" fxFlex.sm="48"
         fxFlex.xs="100">
      <i class="iconfontXberts icon-pic-victor"></i>
      <div class="xb-dashboard__card-data">$1000</div>
      <div class="xb-dashboard__card-word">Total Visitors</div>
    </div>
    <div class="xb-dashboard__card" [ngStyle]="{'background-color':'#e53715'}" fxFlex.gt-sm="24" fxFlex.sm="48"
         fxFlex.xs="100">
      <i class="iconfontXberts icon-pic-victor"></i>
      <div class="xb-dashboard__card-data">$1000</div>
      <div class="xb-dashboard__card-word">Conversion Rate</div>
    </div>
    <div class="xb-dashboard__card" [ngStyle]="{'background-color':'#15aabb'}" fxFlex.gt-sm="24" fxFlex.sm="48"
         fxFlex.xs="100">
      <i class="iconfontXberts icon-pic-victor"></i>
      <div class="xb-dashboard__card-data">$1000</div>
      <div class="xb-dashboard__card-word">Average Order Value</div>
    </div>
  </div>
  <div class="md-padding-top-3" fxLayout="row" fxLayoutAlign="space-between start">
    <div class="xb-dashboard__top-title">Action Required</div>
  </div>
  <div class="xb-dashboard__action" fxLayout="row" fxLayoutAlign="space-around center">
    <div>
      <div class="xb-dashboard__action-data">23</div>
      <div class="xb-dashboard__action-word">Unfulfilled Orders</div>
    </div>
    <div>
      <div class="xb-dashboard__action-data">43</div>
      <div class="xb-dashboard__action-word">Pending Support Tickets</div>
    </div>
    <div>
      <div class="xb-dashboard__action-data">24</div>
      <div class="xb-dashboard__action-word">Pending Return Requests</div>
    </div>
    <div>
      <div class="xb-dashboard__action-data">43</div>
      <div class="xb-dashboard__action-word">Items Sold Out</div>
    </div>
  </div>
  <div class="xb-dashboard__top" fxLayout="row" fxLayoutAlign="space-between center">
    <div class="xb-dashboard__top-title">Top Selling Products</div>
    <div fxLayout="row" fxLayoutAlign="start center">
      <div class="md-margin-right-3">Data Range Yesterday</div>
      <div>Data Range Yesterday</div>
    </div>

  </div>
  <div>
    <app-dashboard-title></app-dashboard-title>
  </div>


</div>
