<div class="container">
  <div class="xb-dashboard__top" fxLayout="row" fxLayoutAlign="space-between center">
    <div class="xb-dashboard__top-title">Overview</div>
    <div fxLayout="row" fxLayoutAlign="start center">
      <div class="md-margin-left-2" fxLayout="row" fxLayoutAlign="end center">
        <div>Filter by Start Time: </div>
        <mat-form-field class="md-margin-left-2">
          <input matInput [matDatepicker]="csAll" [(ngModel)]="psAll" placeholder="Start Date" (dateInput)="addEvent('csAll', $event)">
          <mat-datepicker-toggle matSuffix [for]="csAll"></mat-datepicker-toggle>
          <mat-datepicker #csAll></mat-datepicker>
        </mat-form-field>
        <div class="md-margin-left-2">to</div>
        <mat-form-field class="md-margin-left-2">
          <input matInput [matDatepicker]="ceAll" [(ngModel)]="peAll" placeholder="End Date" (dateInput)="addEvent('ceAll', $event)">
          <mat-datepicker-toggle matSuffix [for]="ceAll"></mat-datepicker-toggle>
          <mat-datepicker #ceAll></mat-datepicker>
        </mat-form-field>
        <div class="sc__accent-dark md-margin-left-2">
          <button mat-raised-button color="pimary" (click)="filterDate()">Confirm</button>
        </div>
        <div class="sc__accent-dark md-margin-left-2">
          <button mat-raised-button color="accent" (click)="resetDate()">Reset</button>
        </div>
      </div>
    </div>
  </div>
  <div class="md-margin-top-3" fxLayout="row wrap" fxLayoutAlign="space-between center">
    <div class="xb-dashboard__card" [ngStyle]="{'background-color':'#3f51b5'}" fxFlex.gt-sm="24" fxFlex.sm="48"
         fxFlex.xs="100">
      <i class="iconfontXberts icon-pic-sales"></i>
      <div class="xb-dashboard__card-data">{{statistics.totalSales | currency: currency: true}}</div>
      <div class="xb-dashboard__card-word">Total Sales</div>
    </div>
    <div class="xb-dashboard__card" [ngStyle]="{'background-color':'#ffc502'}" fxFlex.gt-sm="24" fxFlex.sm="48"
         fxFlex.xs="100">
      <i class="iconfontXberts icon-pic-cart1"></i>
      <div class="xb-dashboard__card-data">{{statistics.totalOrders}}</div>
      <div class="xb-dashboard__card-word">Total Orders</div>
    </div>
    <div class="xb-dashboard__card" [ngStyle]="{'background-color':'#40ad33'}" fxFlex.gt-sm="24" fxFlex.sm="48"
         fxFlex.xs="100">
      <i class="iconfontXberts icon-pic-present"></i>
      <div class="xb-dashboard__card-data">{{statistics.totalSoldUnits}}</div>
      <div class="xb-dashboard__card-word">Total Sold Units</div>
    </div>
    <div class="xb-dashboard__card" [ngStyle]="{'background-color':'#15aabb'}" fxFlex.gt-sm="24" fxFlex.sm="48"
         fxFlex.xs="100">
      <i class="iconfontXberts icon-pic-order"></i>
      <div class="xb-dashboard__card-data">{{statistics.averageOrderValue | currency: currency: true}}</div>
      <div class="xb-dashboard__card-word" fxLayout="row" fxLayoutAlign="start start">
        <div>Average Order Value</div>
        <div class="xb-dashboard__wenhao-bg">
          <i class="iconfontXberts icon-wenhao xb-dashboard__wenhao" (mouseenter)="changeEight(true)"
             (mouseleave)="changeEight(false)"></i>
          <div class="xb-dashboard__wenhao-content" style="right: -64px;" *ngIf="showEight">
            <div class="xb-dashboard__wenhao-triangle-up" style="margin-left: 172px;"></div>
            <div class="xb-dashboard__wenhao—word" style="padding-left: 30px;">Average order value = total sales / total orders</div>
          </div>
        </div>
      </div>
    </div>
    <div class="xb-dashboard__card" [ngStyle]="{'background-color':'#663fb5'}" fxFlex.gt-sm="24" fxFlex.sm="48"
         fxFlex.xs="100">
      <i class="iconfontXberts icon-pic-refund-order"></i>
      <div class="xb-dashboard__card-data">{{statistics.refundOrder}}</div>
      <div class="xb-dashboard__card-word">Total Refund Orders</div>
    </div>
    <div class="xb-dashboard__card" [ngStyle]="{'background-color':'#e53715'}" fxFlex.gt-sm="24" fxFlex.sm="48"
         fxFlex.xs="100">
      <i class="iconfontXberts icon-pic-refund"></i>
      <div class="xb-dashboard__card-data">{{statistics.refundAmounts | currency: currency: true}}</div>
      <div class="xb-dashboard__card-word">Total Refund Amounts</div>
    </div>
    <div class="xb-dashboard__card" [ngStyle]="{'background-color':'#184cc4'}" fxFlex.gt-sm="24" fxFlex.sm="48"
         fxFlex.xs="100">
      <i class="iconfontXberts icon-pic-refund-order"></i>
      <div class="xb-dashboard__card-data">{{statistics.cancelOrder}}</div>
      <div class="xb-dashboard__card-word">Total Canceled Orders</div>
    </div>
    <div class="xb-dashboard__card" [ngStyle]="{'background-color':'#ff68a9'}" fxFlex.gt-sm="24" fxFlex.sm="48"
         fxFlex.xs="100">
      <i class="iconfontXberts icon-pic-refund"></i>
      <div class="xb-dashboard__card-data">{{statistics.cancelAmounts | currency: currency: true}}</div>
      <div class="xb-dashboard__card-word">Total Chargeback Amounts</div>
    </div>
  </div>
  <div class="md-margin-top-2">
    <div fxLayout="row" fxLayoutAlign="start center">
    <div class="xb-dashboard__top-title" fxFlex="">Products of All Categories</div>
    <div fxLayout="row" fxLayoutAlign="start center">
      <div class="md-margin-left-2" fxLayout="row" fxLayoutAlign="end center">
        <div>Filter by Start Time: </div>
        <mat-form-field class="md-margin-left-2">
          <input matInput [matDatepicker]="csCate" [(ngModel)]="psCate" placeholder="Start Date" (dateInput)="addEvent('csCate', $event)">
          <mat-datepicker-toggle matSuffix [for]="csCate"></mat-datepicker-toggle>
          <mat-datepicker #csCate></mat-datepicker>
        </mat-form-field>
        <div class="md-margin-left-2">to</div>
        <mat-form-field class="md-margin-left-2">
          <input matInput [matDatepicker]="ceCate" [(ngModel)]="peCate" placeholder="End Date" (dateInput)="addEvent('ceCate', $event)">
          <mat-datepicker-toggle matSuffix [for]="ceCate"></mat-datepicker-toggle>
          <mat-datepicker #ceCate></mat-datepicker>
        </mat-form-field>
        <div class="sc__accent-dark md-margin-left-2">
          <button mat-raised-button color="pimary" (click)="filterDateCate()">Confirm</button>
        </div>
        <div class="sc__accent-dark md-margin-left-2">
          <button mat-raised-button color="accent" (click)="resetDateCate()">Reset</button>
        </div>
      </div>
    </div>
    </div>
    <div echarts [options]="options" class="xb-dashboard__data"></div>
  </div>
</div>
