<div class="sc-order-dialog">
  <div class="sc-order-dialog__close" (click)="close()" >
    <i class="iconfontXberts icon-ic-close"></i>
  </div>
  <div class="sc-order-dialog__title">
    Edit Address
  </div>
  <div class="md-margin-top-2" fxLayout="row" fxLayoutAlign="start center">
    <div>Order #: {{data.order.number}}</div>
    <div class="md-margin-left-3" fxFlex>{{data.order.sumOrderNumber? 'Sum Order #:' + data.order.sumOrderNumber: ''}}</div>
  </div>
  <form class="md-margin-top-3" [formGroup]="orderStockForm" novalidate>
    <div fxLayout="row" fxLayoutAlign="start center">
      <mat-form-field fxFlex>
        <input type="text" matInput placeholder="Username" formControlName="username">
      </mat-form-field>
    </div>
    <div fxLayout="row" fxLayoutAlign="start center">
      <div class="md-margin-right-2">+91</div>
      <mat-form-field fxFlex>
        <input type="text" matInput placeholder="Phone Number" formControlName="phoneNumber">
      </mat-form-field>
    </div>
    <div fxLayout="row" fxLayoutAlign="start center">
      <mat-form-field fxFlex>
        <input type="text" matInput placeholder="Pincode" formControlName="postcode">
      </mat-form-field>
    </div>
    <div fxLayout="row" fxLayoutAlign="start center">
      <mat-form-field fxFlex>
        <input type="text" matInput placeholder="line1" formControlName="line1">
      </mat-form-field>
    </div>
    <div fxLayout="row" fxLayoutAlign="start center">
      <mat-form-field fxFlex>
        <input type="text" matInput placeholder="line2" formControlName="line2">
      </mat-form-field>
    </div>
    <div fxLayout="row" fxLayoutAlign="start center">
      <mat-form-field fxFlex>
        <input type="text" matInput placeholder="line3" formControlName="line3">
      </mat-form-field>
    </div>
    <div fxLayout="row" fxLayoutAlign="start center">
      <mat-form-field fxFlex>
        <input type="text" matInput placeholder="city" formControlName="city">
      </mat-form-field>
    </div>
    <div fxLayout="row" fxLayoutAlign="start center">
      <mat-form-field fxFlex>
        <mat-select name="shippingProvider" placeholder="state" formControlName="state">
          <mat-option class="md-align-center" *ngFor="let item of state" [value]="item.name">
            {{ item.name }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  </form>
  <div class="xb-input-error md-margin-top-2" *ngIf="error">
    {{error}}
  </div>
  <div class="sc-order-dialog__margin-top" fxLayout="row" fxLayoutAlign="end center">
    <button mat-raised-button color="primary" (click)="changeOrderAddress()">Confirm</button>
    <div class="md-margin-left-2">
      <button mat-button color="primary" (click)="close()">Cancel</button>
    </div>
  </div>
</div>
