<div class="container">
  <div class="md-margin-top-4 sc-promote__create-text">
    <span class="md-dark-secondary xb-pointer" routerLink="../../">Landing</span>
    <span class="md-dark-secondary">></span> <span class="xb-bold">Create a Featured Category</span>
  </div>
  <form [formGroup]="landingForm" novalidate>
    <div class="sc-promote__create-bg md-margin-top-4">
      <div class="sc-promote__create-title">
        Basic Category Information
      </div>
      <div class="md-margin-top-2">
        <div fxLayout="row" fxLayoutAlign="start center">
          <div fxFlex="30" fxLayout="row" fxLayoutAlign="start center">
            <mat-form-field fxFlex>
              <mat-select name="category" placeholder="Select a Category" formControlName="grantParentId"
                          (valueChange)="categoryChange($event)">
                <mat-option class="md-align-center" *ngFor="let item of categoryList" [value]="item.id">
                  {{ item.data.name }}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div class="md-margin-left-3" fxFlex="30" fxLayout="row" fxLayoutAlign="start center" *ngIf="subCategoryList && subCategoryList.length > 0">
            <mat-form-field fxFlex>
              <mat-select name="subcategory" placeholder="Select a Subcategory" formControlName="parentId"
                          (valueChange)="subCategoryChange($event)">
                <mat-option class="md-align-center" *ngFor="let item of subCategoryList" [value]="item.id">
                  {{ item.data.name }}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div class="md-margin-left-3" fxFlex="30" fxLayout="row" fxLayoutAlign="start center" *ngIf="thirdCategoryList && thirdCategoryList.length > 0">
            <mat-form-field fxFlex>
              <mat-select name="thirdcategory" placeholder="Select a Thirdcategory" formControlName="childId"
                          (valueChange)="thirdCategoryChange($event)">
                <mat-option class="md-align-center" *ngFor="let item of thirdCategoryList" [value]="item.id">
                  {{ item.data.name }}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
        </div>
        <div fxLayout="row" fxLayoutAlign="start center">
          <div class="md-margin-right-2 sc-promote__create-title-1">Featured Category Index</div>
          <mat-form-field fxFlex>
            <input type="number" matInput placeholder="Category Index" formControlName="sort">
          </mat-form-field>
        </div>
        <div *ngIf="landingForm.get('sort').invalid && (landingForm.get('sort').dirty ||
            landingForm.get('sort').touched)" class="xb-input-error">
          <div *ngIf="landingForm.get('sort').hasError('required')">
            This field is required.
          </div>
        </div>
      </div>
    </div>
    <div class="sc-promote__create-bg md-margin-top-2">
      <div class="sc-promote__create-title">
        Image & Banner
      </div>
      <div fxLayout="row" fxLayoutAlign="space-between center">
        <div class="md-margin-top-2" fxLayout="row" fxLayoutAlign="start center" fxFlex="46">
          <div class="md-margin-right-2 sc-promote__create-title-1">Theme Color</div>
          <mat-form-field fxFlex>
            <input type="text" matInput placeholder="Theme Color" formControlName="color">
          </mat-form-field>
        </div>

        <div fxLayout="row" fxLayoutAlign="start center" fxFlex="46">
          <div class="md-margin-right-2 sc-promote__create-title-1">Image Width</div>
          <mat-form-field fxFlex>
            <input type="number" matInput placeholder="Image Width" formControlName="width">
          </mat-form-field>
        </div>
      </div>
      <div *ngIf="landingForm.get('color').invalid && (landingForm.get('color').dirty ||
            landingForm.get('color').touched)" class="xb-input-error">
        <div *ngIf="landingForm.get('color').hasError('required')">
          This field is required.
        </div>
      </div>
      <div *ngIf="landingForm.get('width').invalid && (landingForm.get('width').dirty ||
            landingForm.get('width').touched)" class="xb-input-error">
        <div *ngIf="landingForm.get('width').hasError('required')">
          This field is required.
        </div>
      </div>
      <div class="md-margin-top-2" fxLayout="row" fxLayoutAlign="space-between start">
        <div fxFlex="46">
          <div class="sc-promote__create-title-1">Banner</div>
          <div class="sc-promote__create-image-1 md-margin-top-2">
            <app-admin-landing-image-upload-additional [(previewImgFile)]="bgSrc"
                                                       [previewImgSrcs]="bgSrc"></app-admin-landing-image-upload-additional>
          </div>
        </div>
        <div fxFlex="46">
          <div class="sc-promote__create-title-1">Image</div>
          <div class="sc-promote__create-image md-margin-top-2">
            <app-admin-landing-image-upload-additional [(previewImgFile)]="src"
                                                 [previewImgSrcs]="src"></app-admin-landing-image-upload-additional>
          </div>
        </div>
      </div>
      <div class="md-margin-top-2" fxLayout="row" fxLayoutAlign="start center">
        <div class="sc-promote__promote-text xb-bold">Display</div>
        <div class="md-margin-left-4" fxLayout="row" fxLayoutAlign="start center">
          <mat-slide-toggle color="accent" formControlName="isShow"></mat-slide-toggle>
        </div>
      </div>
    </div>
  </form>
  <div class="md-padding-top-3 md-padding-bottom-3" fxLayout="row" fxLayoutAlign="center center">
    <button mat-raised-button color="primary" type="button" (click)="save()">
      SAVE
    </button>
    <div class="md-margin-left-2">
      <button mat-button color="primary" type="button" routerLink="../">
        CANCEL
      </button>
    </div>
  </div>
</div>
