<div class="sc-order-dialog">
  <div class="sc-order-dialog__close" (click)="close()" >
    <i class="iconfontXberts icon-ic-close"></i>
  </div>
  <div class="sc-order-dialog__title">
    Do you need customer support to verify this address?
  </div>
  <div class="sc-order-dialog__margin-top" fxLayout="row" fxLayoutAlign="end center">
    <button mat-button color="primary" (click)="close()">Cancel</button>
    <div class="md-margin-left-2">
      <button mat-raised-button color="primary" (click)="changeOrderAddress()">Please Verify</button>
    </div>
  </div>
</div>
