<div class="sc-order-dialog">
  <div class="sc-order-dialog__close" (click)="close()" >
    <i class="iconfontXberts icon-ic-close"></i>
  </div>
  <div class="sc-order-dialog__title">
    {{'ORDERS.DIALOG1.TITLE1' | translate }}
  </div>
  <div class="sc-order-dialog__margin-top" fxLayout="row" fxLayoutAlign="end center">
    <button mat-button color="primary" (click)="close()">{{'ORDERS.DIALOG1.BUTTON1' | translate }}</button>
    <div class="md-margin-left-2">
      <button mat-raised-button color="primary" (click)="changeOrderAddress()">{{'ORDERS.DIALOG1.BUTTON2' | translate }}</button>
    </div>
  </div>
</div>
