<div class="xb-account-item" fxLayout="row" fxLayoutAlign="start start">
  <div fxFlex="40">
    <div class="xb-account-item__text" fxLayout="row" fxLayoutAlign="start center">
      <span class="xb-bold">id:&nbsp;&nbsp;&nbsp;</span>{{item.id}}
    </div>
    <div class="xb-account-item__text" fxLayout="row" fxLayoutAlign="start center">
      <span class="xb-bold">First Name:&nbsp;&nbsp;&nbsp;</span>{{item.firstName}}
    </div>
    <div class="xb-account-item__text" fxLayout="row" fxLayoutAlign="start center">
      <span class="xb-bold">Last Name:&nbsp;&nbsp;&nbsp;</span>{{item.lastName}}
    </div>
    <div class="xb-account-item__text" fxLayout="row" fxLayoutAlign="start center">
      <span class="xb-bold">Email Address:&nbsp;&nbsp;&nbsp;</span>{{item.email}}
    </div>
    <div class="xb-account-item__text" fxLayout="row" fxLayoutAlign="start center">
      <span class="xb-bold">Country:&nbsp;&nbsp;&nbsp;</span>{{item.country}}
    </div>
  </div>
</div>
