@import "../../../styles/utils/index";
@import "../../../styles/variables";

.sc-promote{

  &__title{
    margin: 40px 16px 24px;
    font-size: 24px;
    @include media();
  }

  &__promote{
    position: relative;
  }

}
