<div class="sc-order-dialog">
  <div class="sc-order-dialog__close" (click)="close()" >
    <i class="iconfontXberts icon-ic-close"></i>
  </div>
  <div class="sc-order-dialog__title">
    Change SKU For This Order
  </div>
  <div class="md-margin-top-2" fxLayout="row" fxLayoutAlign="start center">
    <div>Order #: {{data.order.number}}</div>
    <div class="md-margin-left-3" fxFlex>{{data.order.sumOrderNumber? 'Sum Order #:' + data.order.sumOrderNumber: ''}}</div>
  </div>
  <div class="md-margin-top-2" fxLayout="row" fxLayoutAlign="start center">
    <div class="sc-order__product-margin-right" fxLayout="row" fxLayoutAlign="start stretch" fxFlex>
      <div class="sc-order__product-image" fxFlex="none">
        <img src="{{data.order.lines[0].mainImage}}">
      </div>
      <div fxFlex fxLayout="column" fxLayoutAlign="space-between start">
        <div class="sc-order__product-title" >{{data.order.lines[0].title}}</div>
        <div>
          <div>{{data.order.lines[0].attributes}}</div>
          <div class="xb-bold" fxLayout="row" fxLayoutAlign="start center">
            {{data.order.lines[0].sku}}
          </div>
        </div>
      </div>
    </div>
    <div fxLayout="column" fxLayoutAlign="center center">{{data.order.lines[0].quantity}}</div>
  </div>
  <form class="md-margin-top-3" [formGroup]="orderVariantForm" novalidate>
    <mat-radio-group formControlName="variantId">
      <div class="md-margin-bottom-2" fxLayout="row" fxLayoutAlign="space-between center"
           *ngFor="let value of variantsList">
        <mat-radio-button [value]="value.id" color="accent" fxFlex="5"></mat-radio-button>
        <div class="sc-order__product-margin-right" fxLayout="row" fxLayoutAlign="start stretch" fxFlex="75">
          <div class="sc-order__product-image" fxFlex="none">
            <img [src]="value.mainImage">
          </div>
          <div fxFlex fxLayout="column" fxLayoutAlign="space-between start">
            <div class="sc-order__product-title" >{{value.title}}</div>
            <div>
              <div fxLayout="row" fxLayoutAlign="start center">
                <div class="md-margin-right-1" *ngFor="let item of value.attributeValues">{{item.value}}</div>
              </div>
              <div class="xb-bold">{{value.sku}}</div>
            </div>
          </div>
        </div>
        <div fxFlex="20" fxLayout="column" fxLayoutAlign="center center"> {{value.unitPrice | currency: currency: true}}</div>
      </div>
    </mat-radio-group>
    <div *ngIf="orderVariantForm.get('variantId').invalid && (orderVariantForm.get('variantId').dirty ||
              orderVariantForm.get('variantId').touched)" class="xb-input-error">
      <div *ngIf="orderVariantForm.get('variantId').hasError('required')">
        This field is required.
      </div>
    </div>
  </form>
  <div class="xb-input-error md-margin-top-2" *ngIf="error">
    {{error}}
  </div>
  <div class="sc-order-dialog__margin-top" fxLayout="row" fxLayoutAlign="end center">
    <button mat-raised-button color="primary" (click)="changeVariant()">SAVE</button>
    <div class="md-margin-left-2">
      <button mat-button color="primary" (click)="close()">CANCEL</button>
    </div>
  </div>
</div>
