<div class="sc-product__product-item" fxLayout="row" fxLayoutAlign="start center">
  <div class="md-margin-right-2" fxFlex="30">
    {{location.allPath}}
  </div>
  <div class="md-margin-right-2" fxFlex="30">
    {{location.storageType}}
  </div>
  <div class="md-margin-right-2" fxFlex="30">
    {{location.warehouseName}}
  </div>
  <div class="sc-product__product-id sc__accent-dark" fxFlex="10"
       fxLayout="column" fxLayoutAlign="center center">
    <button mat-raised-button color="primary" *ngIf="!isEdit"
            (click)="edit()">{{'INVENTORY.ITEM.BUTTON2'|translate}}</button>
    <button mat-raised-button color="primary" *ngIf="isEdit"
            (click)="edit()">{{'INVENTORY.ITEM.BUTTON3'|translate}}</button>
  </div>
</div>
