<div>
  <div class="sc-product__product-item" fxLayout="row" fxLayoutAlign="start stretch">
    <div class="md-margin-right-2" fxFlex="45">
      <div fxLayout="row" fxLayoutAlign="start center">
        <div class="sc-product__product-image" fxFlex="none">
          <img class="xb-pointer" [src]="product.mainImage" (click)="openLargeImage(product)">
        </div>
        <div class="md-margin-right-2">
          <div class="sc-product__product-title" >{{product.title}}</div>
        </div>
      </div>
    </div>
    <div class="sc-product__product-id md-margin-right-2" fxFlex="20" *ngIf="status == 0"
         fxLayout="column" fxLayoutAlign="center center">
      {{product.attribute}}
    </div>
    <div class="sc-product__product-id md-margin-right-2" fxFlex="10" *ngIf="status == 1"
         fxLayout="column" fxLayoutAlign="center center">
      {{product.attribute}}
    </div>
    <div class="sc-product__product-id md-margin-right-2" fxFlex="10" *ngIf="status == 1"
         fxLayout="column" fxLayoutAlign="center center">
      {{product.warehouseName}}
    </div>
    <div class="sc-product__product-id md-margin-right-2" fxFlex="25"
         fxLayout="column" fxLayoutAlign="center center">
      <div fxLayout="row" fxLayoutAlign="start center">
        <div class="xb-bold">SKU编码: {{product.sku}}</div>
        <i class="material-icons md-dark-secondary sc-product__product-title md-margin-left-1 xb-pointer"
           ngxClipboard [cbContent]="product.sku" (cbOnSuccess)="copy($event)">file_copy</i>
      </div>
    </div>
    <div class="sc-product__product-id" fxFlex="10"
         fxLayout="column" fxLayoutAlign="center center">
      {{product.quantity}}
    </div>
  </div>
</div>
<div class="sc-product__product-item-1" fxLayout="row" fxLayoutAlign="start center" *ngIf="status == 0">
  <div class="md-margin-right-2" *ngFor="let item of product.warehouseInventory">
    <div>{{item.warehouseName}}: {{item.quantity}}件</div>
  </div>
</div>
