<div class="sc-product__product-navigation sc-product__product-navigation-{{status}}" fxLayout="row" fxLayoutAlign="start center" *ngIf="status == 0">
  <div class="sc-product__product-title-1 md-margin-right-2" fxFlex="30">
    {{'RACK.SUBTITLE.TITLE2'|translate}}
  </div>
  <div class="sc-product__product-title-1 md-margin-right-2" fxFlex="20"
       fxLayout="row" fxLayoutAlign="center center">
    {{'RACK.SUBTITLE.TITLE3'|translate}}
  </div>
  <div class="sc-product__product-title-1 md-margin-right-2" fxFlex="20"
       fxLayout="row" fxLayoutAlign="center center">
    {{'RACK.SUBTITLE.TITLE4'|translate}}
  </div>
  <div class="sc-product__product-title-1 md-margin-right-2" fxFlex="20"
       fxLayout="row" fxLayoutAlign="center center">
    {{'RACK.SUBTITLE.TITLE5'|translate}}
  </div>
  <div class="sc-product__product-title-1" fxFlex="10"
       fxLayout="column" fxLayoutAlign="center center">{{'RACK.SUBTITLE.TITLE6'|translate}}</div>
</div>
<div class="sc-product__product-navigation sc-product__product-navigation-{{status}}" fxLayout="row" fxLayoutAlign="start center" *ngIf="status == 1">
  <div class="sc-product__product-title-1 md-margin-right-2" fxFlex="40">
    {{'RACK.SUBTITLE.TITLE7'|translate}}
  </div>
  <div class="sc-product__product-title-1 md-margin-right-2" fxFlex="10"
       fxLayout="row" fxLayoutAlign="center center">
    {{'RACK.SUBTITLE.TITLE8'|translate}}
  </div>
  <div class="sc-product__product-title-1 md-margin-right-2" fxFlex="10"
       fxLayout="row" fxLayoutAlign="center center">
    {{'RACK.SUBTITLE.TITLE2'|translate}}
  </div>
  <div class="sc-product__product-title-1 md-margin-right-2" fxFlex="10"
       fxLayout="row" fxLayoutAlign="center center">
    {{'RACK.SUBTITLE.TITLE5'|translate}}
  </div>
  <div class="sc-product__product-title-1 md-margin-right-2" fxFlex="20"
       fxLayout="row" fxLayoutAlign="center center">
    SKU
  </div>
  <div class="sc-product__product-title-1" fxFlex="10"
       fxLayout="row" fxLayoutAlign="center center">
    {{'RACK.SUBTITLE.TITLE9'|translate}}
  </div>

</div>
