<div class="sc-product__product-navigation sc-product__product-navigation-{{status}}" fxLayout="row" fxLayoutAlign="start center">
  <div class="sc-product__product-title-2 md-margin-right-2" fxFlex="30">
    货位编号
  </div>
  <div class="sc-product__product-title-2 md-margin-right-2" fxFlex="30">
    货位类型
  </div>
  <div class="sc-product__product-title-2 md-margin-right-2" fxFlex="30">
    仓库名称
  </div>
  <div class="sc-product__product-title-1" fxFlex="10"
       fxLayout="column" fxLayoutAlign="center center">操作</div>
</div>
