<div class="sc-promote__promote-item-1" fxLayout="row" fxLayoutAlign="start stretch" >
  <div class="md-margin-right-2" fxFlex="45" fxLayout="column" fxLayoutAlign="center stretch">
    <div class="sc-promote__promote-text">
      i phone is best because it has minimum prize and more conviniunt  to use iphone is just popular brand nothing else
    </div>
  </div>
  <div class="md-margin-right-2" fxFlex="40"
       fxLayout="column" fxLayoutAlign="center center">
    <div class="sc-promote__promote-text">100</div>
  </div>
  <div class="sc-promote__promote-width-1 sc__accent-dark"
       fxLayout="column" fxLayoutAlign="center stretch" fxFlex="none">
    <button mat-raised-button color="primary">Select</button>
  </div>
</div>
