<div class="sc-product__product-navigation-fixed">
  <div class="container">
    <div class="sc-product__product-navigation-inner" fxLayout="row" fxLayoutAlign="start center">
      <div class="sc-product__product-title-2 md-margin-right-2" fxFlex="40">
        {{'INVENTORY.SUBTITLE.TITLE1'|translate}}
      </div>
      <div class="sc-product__product-title-2 md-margin-right-2" fxFlex="10" *ngIf="status == 1"
           fxLayout="column" fxLayoutAlign="center center">{{'INVENTORY.SUBTITLE.TITLE2'|translate}}</div>
      <div class="sc-product__product-title-2 md-margin-right-2" fxFlex="20"
           fxLayout="column" fxLayoutAlign="center center">{{'INVENTORY.SUBTITLE.TITLE3'|translate}}</div>
      <div class="sc-product__product-title-2 md-margin-right-2" fxFlex="10"
           fxLayout="column" fxLayoutAlign="center center">{{'INVENTORY.SUBTITLE.TITLE4'|translate}}</div>
      <div class="sc-product__product-title-2 md-margin-right-2" fxFlex="10"
           fxLayout="column" fxLayoutAlign="center center">{{'INVENTORY.SUBTITLE.TITLE5'|translate}}</div>
      <div class="sc-product__product-title-2 md-margin-right-2" fxFlex="10"
           fxLayout="column" fxLayoutAlign="center center">{{'INVENTORY.SUBTITLE.TITLE6'|translate}}</div>
      <div class="sc-product__product-title-2" fxFlex="10"
           fxLayout="column" fxLayoutAlign="center center">{{'INVENTORY.SUBTITLE.TITLE7'|translate}}</div>
    </div>
  </div>
</div>

