<div class="xb-address md-padding-right-2 md-padding-top-2 md-padding-left-2 unicorn-dark-theme">
  <div class="container">
    <div class="xb-address__header">
      Address
    </div>
    <app-address-address-title></app-address-address-title>
    <div class="md-margin-top-2"></div>
    <div *ngFor="let item of addressList;let i = index;">
      <app-address-address-item [item]="item" [index]="i"></app-address-address-item>
    </div>
    <mat-paginator [length]="length"
                   [pageSize]="pageSize"
                   [pageSizeOptions]="pageSizeOptions"
                   (page)="changePage($event)"
                   *ngIf="addressList && addressList.length > 0">
    </mat-paginator>
  </div>
</div>
